
Test2/Test2/obj/Debug/net5.0/Daihoc_FPT_News.assets.cache
Test2/Test2/obj/Debug/net5.0/Daihoc_FPT_News.csproj.AssemblyReference.cache
Test2/Test2/obj/Debug/net5.0/Daihoc_FPT_News.GeneratedMSBuildEditorConfig.editorconfig
Test2/.vs/Daihoc_FPT_News/v17/.suo
*.json
*.json
*.dll
*.exe
*.pdb
*.pdb
*.props
*.targets
*.cache
*.txt
*.editorconfig
*.cache
*.pdb
*.cs
*.cache
Test2/.vs/Daihoc_FPT_News/v17/.suo
Test2/Test2/obj/Debug/net5.0/project.razor.json
Test2/.vs/Daihoc_FPT_News/v17/.suo
*.dll
*.cs
*.cache
