@{
    Layout = null;
}
<div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/menu/admin/list">
              <i class="nc-icon nc-bank"></i>
              <p>Quản trị Menu</p>
            </a>
          </li>
          <li>
            <a href="/viewstatus/admin/list">
              <i class="nc-icon nc-diamond"></i>
              <p>Quản trị slide hệ thống</p>
            </a>
          </li>
          <li>
            <a href="/post/admin/listevents">
              <i class="nc-icon nc-pin-3"></i>
              <p>Quản trị Sự kiện</p>
            </a>
          </li>
          <li>
            <a href="/subcribe/admin/list">
              <i class="nc-icon nc-air-baloon"></i>
              <p>Quản trị gửi mail Sự kiện</p>
            </a>
          </li>
          <li>
            <a href="/comment/admin/list">
              <i class="nc-icon nc-align-center"></i>
              <p>Quản trị Bình luận</p>
            </a>
          </li>
          <li>
            <a href="/contact/admin/list">
              <i class="nc-icon nc-check-2"></i>
              <p>Quản trị T/Tin liên hệ</p>
            </a>
          </li>
        </ul>
      </div>