@{
    Layout = null;
}
<div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/menu/admin/list">
              <i class="nc-icon nc-bank"></i>
              <p>Quản trị Menu</p>
            </a>
          </li>
          <li>
            <a href="/post/admin/list">
              <i class="nc-icon nc-diamond"></i>
              <p>Quản trị Bài viết</p>
            </a>
          </li>
          <li>
            <a href="/post/admin/listevents">
              <i class="nc-icon nc-pin-3"></i>
              <p>Quản trị Sự kiện</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="nc-icon nc-air-baloon"></i>
              <p>Quản trị gửi mail Sự kiện</p>
            </a>
          </li>
          <li>
            <a href="/comment/admin/list">
              <i class="nc-icon nc-align-center"></i>
              <p>Quản trị Bình luận</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="nc-icon nc-pin-3"></i>
              <p>Quản trị ..</p>
            </a>
          </li>
        </ul>
      </div>