
<div class="entry-content">
    <div class="header-content">
        <h1>Ngôn ngữ Anh</h1>
    </div>
    <p><strong>Tổng quan về ngành Ngôn ngữ Anh</strong></p>
    <p style="text-align: justify;">
        Tiếng Anh hiện đã trở thành ngôn ngữ thông dụng trên thế giới cũng
        như trong khu vực. Dựa trên thế mạnh và kinh nghiệm đào tạo của mình, trường Đại học FPT mở
        ngành Ngôn ngữ Anh với mục tiêu trang bị cho sinh viên kiến thức nền tảng về ngôn ngữ, văn hoá
        Anh-Mỹ, kỹ năng chuyên sâu về thực hành tiếng, kỹ năng phân tích, tổng hợp và đánh giá các vấn
        đề liên quan tới chuyên ngành. Một mặt chương trình theo chuẩn năng lực ngoại ngữ của Bộ giáo
        dục và Đào tạo Việt Nam. Mặt khác chương trình học được thiết kế linh động phần mở rộng, cho
        phép sinh viên lựa chọn hướng ngành theo khả năng và sở thích với 2 chuyên ngành đang “hot” hiện
        nay là <strong>Tiếng </strong><strong>Anh</strong><strong> thương mại </strong>và <strong>
            Tiếng
        </strong><strong>Anh</strong><strong> Công nghệ thông tin</strong>. Sinh viên được trang bị kiến
        thức căn bản về Thương mại và CNTT song song học chuyên môn tiếng Anh. Đây thực sự là điểm mới
        so với các chương trình hiện có ở Việt Nam. Qua đó sinh viên được rèn luyện những kỹ năng cần
        thiết, biết vận dụng các kiến thức về ngôn ngữ, thương mại, công nghệ vào công việc thực tế…
    </p>
    <p>
        Giai đoạn OJT sinh viên có nhiều cơ hội được đào tạo tại các công ty trên toàn cầu khi vừa có khả
        năng ngôn ngữ Anh, vừa có kiến thức căn bản về Thương mại hoặc CNTT.&nbsp;Đặc biệt, sinh viên có
        cơ hội ít nhất tham gia 1 học kỳ tại các nước nói tiếng Anh như Úc, Mỹ,… trong quá trình học.
    </p>
    <p style="text-align: justify;">
        Tháng 8 năm 2015, Đại học FPT <a href="https://daihoc.fpt.edu.vn/dai-hoc-fpt-hop-tac-chien-luoc-ve-khao-thi-tieng-anh-voi-hoi-dong-anh/">
            ký
            kết hợp tác chiến lược
        </a> về khảo thí tiếng Anh với <a href="https://www.britishcouncil.vn/gioi-thieu/bao-chi/hoi-dong-anh-va-dai-hoc-fpt-hop-tac-chien-luoc-ve-khao-thi-tieng-anh">
            Hội
            đồng Anh
        </a>. Việc hợp tác chiến lược với Hội Đồng Anh là nền tảng quan trọng trong chiến
        lược đảm bảo chất lượng giáo dục và chuẩn tiếng Anh đầu ra cho sinh viên Đại học FPT, đồng thời
        là bước tất yếu trong mối quan hệ hợp tác giữa Đại học FPT các tổ chức giáo dục hàng đầu thế
        giới.
    </p>
    <p><strong>Thời gian học:</strong></p>
    <p>
        Chương trình gồm 9 học kỳ chuyên ngành trong đó&nbsp;có 1 học kỳ học tập tại doanh nghiệp (OJT),
        chưa kể thời gian rèn luyện tập trung và thời gian học tiếng Anh dự bị (phụ thuộc vào trình độ
        tiếng Anh đầu vào của sinh viên).
    </p>
    <p><strong>Địa&nbsp;điểm học</strong>: Hà Nội, Đà Nẵng, TP.Hồ Chí Minh, Cần Thơ</p>
    <p><strong>Yêu cầu đầu vào:</strong></p>
    <p>
        Tốt nghiệp PTTH (hoặc tương đương), đạt quy định trúng tuyển đại học của Bộ GDĐT và đủ điều kiện
        xét tuyển của Trường Đại học FPT.
    </p>
    <p style="text-align: justify;"><strong>Triển vọng nghề nghiệp:</strong></p>
    <p>Cử nhân ngành Ngôn ngữ Anh có thể đảm nhiệm một số công việc sau:</p>
    <ul>
        <li>
            Thư ký, trợ lý đối ngoại trong các công ty, tập đoàn kinh tế, bộ ngoại giao, lãnh sự quán…
        </li>
        <li>Phiên dịch, biên dịch tiếng Anh</li>
        <li>
            Điều phối viên, chuyên viên làm việc tại các cơ quan quản lý nhà nước từ trung ương đến địa
            phương, các Bộ, các ngành hữu quan của Việt Nam, tổ chức kinh tế quốc tế, các doanh nghiệp
            thuộc mọi thành phần kinh tế của Việt Nam, các doanh nghiệp, tổ chức Châu Âu, Anh-Mỹ, các
            nước sử dụng tiếng Anh là ngôn ngữ hành chính.
        </li>
        <li>Quản trị dự án CNTT của các công ty CNTT thế giới và Việt Nam</li>
        <li>Giảng dạy tiếng Anh cho các tổ chức và cơ sở đào tạo.</li>
        <li>
            Học trình độ cao hơn về các ngành Ngôn ngữ Anh, Ngôn ngữ học, Quốc tế học, Chứng chỉ giảng
            dạy tiếng Anh cho người nước ngoài (TESOL). Học mở rộng các ngành thuộc khối ngành Kinh
            doanh.
        </li>
    </ul>
    <p><strong>Cấu trúc chương trình:</strong></p>
    <p>
        <img loading="lazy" class="aligncenter wp-image-19873"
             src="https://daihoc.fpt.edu.vn/media/2016/11/Screen-Shot-2019-03-22-at-1.50.51-PM-546x325.png"
             alt="" width="650" height="387"
             srcset="https://daihoc.fpt.edu.vn/media/2016/11/Screen-Shot-2019-03-22-at-1.50.51-PM-546x325.png 546w, https://daihoc.fpt.edu.vn/media/2016/11/Screen-Shot-2019-03-22-at-1.50.51-PM-768x457.png 768w, https://daihoc.fpt.edu.vn/media/2016/11/Screen-Shot-2019-03-22-at-1.50.51-PM.png 785w"
             sizes="(max-width: 650px) 100vw, 650px">
    </p>
    <p><strong>Chương trình đào tạo:</strong></p>
    <table style="height: 264px; width: 98.81656804733727%; border-color: #000000;" border="1">
        <tbody>
            <tr>
                <td style="width: 12.448003401481062%;"><strong>Học Kỳ</strong></td>
                <td style="width: 29.374623533997095%;"><strong>Học Phần</strong></td>
                <td style="width: 56.99394111185912%;"><strong>Kỹ năng đạt được&nbsp;</strong></td>
            </tr>
            <tr style="height: 24px;">
                <td style="height: 24px; width: 12.448003401481062%;">Nền tảng</td>
                <td style="height: 24px; width: 29.374623533997095%;">
                    <ul>
                        <li dir="ltr">Tuần lễ định hướng</li>
                        <li dir="ltr">Tháng rèn luyện tập trung</li>
                        <li dir="ltr">Tiếng Anh nền tảng</li>
                        <li dir="ltr">Võ Vovinam</li>
                    </ul>
                </td>
                <td style="height: 24px; width: 56.99394111185912%;">
                    <ul>
                        <li>
                            Sinh viên có phương pháp học đại học hiệu quả như: tự học, làm việc nhóm,
                            quản lý thời gian, tối ưu hoá năng lực não bộ cải thiện kết quả học tập.
                        </li>
                        <li>
                            Phát triển sự tự tin và lưu loát của người học trong việc sử dụng ngôn ngữ
                            tiếng Anh.
                        </li>
                        <li>
                            Các kỹ năng căn bản của tiếng Anh, giúp sinh viên hệ thống, ôn tập lại các
                            kiến thức đã có chuẩn bị cho những học kỳ chuyên sâu.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Sinh viên có tinh thần rèn luyện thể chất, phát triển cá nhân toàn diện.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr style="height: 24px;">
                <td style="height: 24px; width: 12.448003401481062%;">Học kỳ 1</td>
                <td style="height: 24px; width: 29.374623533997095%;">
                    <ul>
                        <li dir="ltr">Tiếng Anh 1</li>
                        <li dir="ltr">Ngữ âm</li>
                        <li dir="ltr">Võ Vovinam</li>
                    </ul>
                </td>
                <td style="height: 24px; width: 56.99394111185912%;">
                    <ul>
                        <li>Giao tiếp cơ bản bằng tiếng Anh (nghe, nói, đọc, viết) tốt</li>
                    </ul>
                </td>
            </tr>
            <tr style="height: 24px;">
                <td style="height: 24px; width: 12.448003401481062%;">Học kỳ 2</td>
                <td style="height: 24px; width: 29.374623533997095%;">
                    <ul>
                        <li dir="ltr">Tiếng Anh 2</li>
                        <li dir="ltr">Ngữ pháp nâng cao</li>
                        <li dir="ltr">Võ Vovinam</li>
                    </ul>
                </td>
                <td style="height: 24px; width: 56.99394111185912%;">
                    <ul>
                        <li>
                            Giao tiếp bằng tiếng Anh (nghe, nói, đọc, viết) nâng cao, tăng cường phản xạ
                            với ngoại ngữ.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr style="height: 24px;">
                <td style="height: 24px; width: 12.448003401481062%;">Học kỳ 3</td>
                <td style="height: 24px; width: 29.374623533997095%;">
                    <ul>
                        <li dir="ltr">Tiếng Anh 3</li>
                        <li dir="ltr">Kỹ năng viết Tiếng Anh thương mại</li>
                        <li dir="ltr">Võ Vovinam</li>
                    </ul>
                </td>
                <td style="height: 24px; width: 56.99394111185912%;">
                    <ul>
                        <li dir="ltr">
                            Sử dụng 4 kỹ năng trôi chảy, phù hợp ở các tình huống công việc và
                            giao tiếp xã hội.
                        </li>
                        <li dir="ltr">
                            &nbsp;Thuần thục các chuẩn mực kỹ năng viết tiếng Anh trong kinh
                            doanh.
                        </li>
                        <li dir="ltr">
                            &nbsp;Vận dụng kiến thức chuyên ngành vào các tình huống công việc
                            cụ thể.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr style="height: 24px;">
                <td style="height: 24px; width: 12.448003401481062%;">Học kỳ 4</td>
                <td style="height: 24px; width: 29.374623533997095%;">
                    <ul>
                        <li dir="ltr">Tiếng Anh 4</li>
                        <li dir="ltr">Kỹ năng giao tiếp đa văn hóa</li>
                    </ul>
                </td>
                <td style="height: 24px; width: 56.99394111185912%;">
                    <ul>
                        <li dir="ltr">Giao tiếp tiếng Anh trôi chảy trong cả 4 kỹ năng.</li>
                        <li dir="ltr">
                            &nbsp;Có kiến thức cơ bản về văn hóa, phong tục của các nước đang
                            sử dụng tiếng Anh và các nước có ảnh hưởng lớn trên thế giới.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr style="height: 24px;">
                <td style="height: 24px; width: 12.448003401481062%;">Học kỳ 5</td>
                <td style="height: 24px; width: 29.374623533997095%;">
                    <ul>
                        <li dir="ltr">Kỹ năng làm việc nhóm</li>
                        <li dir="ltr">Kỹ năng biên dịch cơ bản</li>
                        <li dir="ltr">Kỹ năng phiên dịch cơ bản</li>
                        <li dir="ltr">Kỹ năng thuyết trình hiệu quả</li>
                        <li dir="ltr">Ngôn ngữ học</li>
                    </ul>
                </td>
                <td style="height: 24px; width: 56.99394111185912%;">
                    <ul>
                        <li dir="ltr">
                            Có tinh thần trách nhiệm cao, cầu thị và hợp tác với đồng nghiệp,
                            cộng sự trong công việc.
                        </li>
                        <li dir="ltr">
                            &nbsp;Có kiến thức nền tảng và kỹ năng cơ bản về biên – phiên dịch
                            tiếng Anh.
                        </li>
                        <li dir="ltr">
                            Có kỹ năng nói chuyện trước đám đông, diễn giải vấn đề đúng nội
                            dung, súc tích và tạo ấn tượng với người nghe.
                        </li>
                        <li dir="ltr">
                            Có kiến thức cơ bản trong lĩnh vực khoa học xã hội và nhân văn làm
                            nền tảng tiếp thu kiến thức giáo dục chuyên nghiệp.
                        </li>
                        <li dir="ltr">
                            Vận dụng và phát triển tư duy phê phán (critical thinking) và sáng
                            tạo (creative thinking).
                        </li>
                    </ul>
                </td>
            </tr>
            <tr style="height: 24px;">
                <td style="height: 24px; width: 12.448003401481062%;">Học kỳ 6</td>
                <td style="height: 24px; width: 29.374623533997095%;">
                    <ul>
                        <li>Thực tập làm việc thực tế tại doanh nghiệp</li>
                    </ul>
                </td>
                <td style="height: 24px; width: 56.99394111185912%;">
                    <ul>
                        <li>Vận dụng kiến thức chuyên ngành vào các tình huống công việc cụ thể.</li>
                    </ul>
                </td>
            </tr>
            <tr style="height: 24px;">
                <td style="height: 24px; width: 12.448003401481062%;">Học kỳ 7</td>
                <td style="height: 24px; width: 29.374623533997095%;">
                    <ul>
                        <li dir="ltr">Ngoại ngữ 2 (1)</li>
                        <li dir="ltr">Môi trường kinh doanh quốc tế</li>
                        <li dir="ltr">Kỹ năng biên dịch nâng cao</li>
                        <li dir="ltr">Kỹ năng phiên dịch nâng cao</li>
                    </ul>
                </td>
                <td style="height: 24px; width: 56.99394111185912%;">
                    <ul>
                        <li dir="ltr">Có kỹ năng cơ bản ngoại ngữ thứ 2.</li>
                        <li dir="ltr">
                            &nbsp;Có kiến thức về các khía cạnh thuộc môi trường kinh doanh
                            quốc tế; về văn hóa, đặc trưng các thị trường các nước, điểm giống và khác
                            nhau về môi trường tự nhiên các nước.
                        </li>
                        <li dir="ltr">
                            Có kiến thức nền tảng và kỹ năng nâng cao về biên – phiên dịch
                            tiếng Anh.
                        </li>
                        <li dir="ltr">
                            Có khả năng thích nghi nhanh, tự tin làm việc tại các doanh nghiệp
                            quốc tế tại Việt Nam và các nước khác.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr style="height: 24px;">
                <td style="height: 24px; width: 12.448003401481062%;">Học kỳ 8</td>
                <td style="height: 24px; width: 29.374623533997095%;">
                    <ul>
                        <li dir="ltr">Ngoại ngữ 2 (2)</li>
                        <li dir="ltr">Hệ thống thông tin</li>
                        <li dir="ltr">Kỹ năng tìm kiếm thông tin</li>
                        <li dir="ltr">Văn hóa Việt Nam</li>
                    </ul>
                </td>
                <td style="height: 24px; width: 56.99394111185912%;">
                    <ul>
                        <li dir="ltr">
                            Có khả năng sử dụng các công cụ tìm kiếm phục vụ cho nghiên cứu và
                            công việc.
                        </li>
                        <li dir="ltr">
                            &nbsp;Có kiến thức về lĩnh vực công nghệ thông tin và thông thạo
                            các khái niệm, thuật ngữ tiếng Anh trong lĩnh vực này.
                        </li>
                        <li dir="ltr">
                            &nbsp;Tác phong làm việc chuyên nghiệp, khoa học, kỷ luật, có hiệu
                            quả và thích ứng nhanh với môi trường làm việc đa văn hóa.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr style="height: 24px;">
                <td style="height: 24px; width: 12.448003401481062%;">Học kỳ 9</td>
                <td style="height: 24px; width: 29.374623533997095%;">
                    <ul>
                        <li dir="ltr">Ngoại ngữ 2 (3)</li>
                        <li dir="ltr">Kỹ năng tiếng Anh cho các kỳ thi quốc tế</li>
                        <li dir="ltr">Khóa luận tốt nghiệp</li>
                    </ul>
                </td>
                <td style="height: 24px; width: 56.99394111185912%;">
                    <ul>
                        <li dir="ltr">Có kiến thức cơ bản về phương pháp nghiên cứu bằng tiếng Anh.</li>
                        <li dir="ltr">&nbsp;Tiến hành nghiên cứu độc lập bằng tiếng Anh.</li>
                        <li dir="ltr">Tự tin làm việc tại các doanh nghiệp trong và ngoài nước.</li>
                        <li dir="ltr">
                            Có thể tiếp tục học sau đại học ở các chuyên ngành trong lĩnh vực
                            Ngôn ngữ Anh, Kinh doanh quốc tế, Tài chính, quản lý và giáo dục.
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p><strong>Tốt nghiệp: </strong></p>
    <p>
        Sinh viên tích lũy đủ số tín chỉ và chứng chỉ theo yêu cầu. Nhà trường tổ chức 3 đợt tốt nghiệp
        vào các tháng 1, 5, 9 hàng năm.
    </p>
</div>
<footer class="entry-footer">
    <div class="footer-title">
        <h2 class="title">Đăng ký xét tuyển</h2>
    </div>
    <div class="register-type">
        <a class="register-button"
           href="https://daihoc.fpt.edu.vn/dang-ky-truc-tuyen/">Gửi hồ sơ trực tuyến</a>
    </div>
</footer>