<div class="entry-content">
    <div class="header-content">
        <h1>Học phí</h1>
    </div>
    <p style="text-align: justify;">
        Trường Đại học FPT trân trọng thông báo các mức học phí áp dụng cho sinh viên hệ đại
        học chính quy năm 2021 như sau:
    </p>
    <p style="text-align: justify;"><strong>I. Học phí tại Hà Nội và TP. Hồ Chí Minh.</strong></p>
    <p style="text-align: justify;"><strong>1. Học phí Chương trình chính khóa</strong></p>
    <p style="text-align: justify;">Số kỳ học: 9 học kỳ (bao gồm cả giai đoạn thực tập tại doanh nghiệp).</p>
    <p style="text-align: justify;">Thời lượng học mỗi kỳ: 4 tháng.</p>
    <p style="text-align: justify;">
        Học phí chuyên ngành: <strong>25,300,000</strong> VNĐ/học kỳ, nộp vào đầu mỗi học
        kỳ.*
    </p>
    <p>
        <i>
            * Mức học phí áp dụng cho sinh viên nhập học hệ đại học chính quy của ĐH FPT năm 2021, có hiệu lực từ ngày
            05/02/2021 theo Quyết định số 152/QĐ-ĐHFPT của Đại học FPT.
        </i>
    </p>
    <p style="text-align: justify;"><strong>2. &nbsp;Học phí Chương trình dự bị tiếng Anh</strong></p>
    <p style="text-align: justify;">
        Dành cho các sinh viên chưa đủ trình độ tiếng Anh tương đương với chuẩn TOEFL iBT 80
        hoặc IELTS (Học thuật) 6.0 hoặc quy đổi tương đương. Những sinh viên đã có chứng chỉ chính thức theo các chuẩn
        trên được miễn học chương trình này. Những sinh viên khác được phân vào các mức học tương ứng với trình độ của
        mình thông qua bài kiểm tra xếp lớp đầu khóa học được tổ chức trước lễ khai giảng. Sinh viên cần đạt mức tiếng
        Anh cao nhất trước khi bắt đầu chương trình chính khóa.
    </p>
    <p style="text-align: justify;">Số mức học tối đa: 6 mức</p>
    <p style="text-align: justify;">Thời lượng học mỗi mức: 2 tháng.</p>
    <p style="text-align: justify;">Học phí:&nbsp;<strong>10,350,000</strong> VNĐ/mức.</p>
    <p style="text-align: justify;"><strong>3. Các khoản phí cần nộp khi nhập học</strong></p>
    <p style="text-align: justify;">
        Đợt đóng học phí đầu tiên khi nhập học nhà trường tạm thu các khoản:&nbsp;(1) + (2)
        &nbsp;bao gồm:
    </p>
    <p style="text-align: justify;">(1) &nbsp; Phí đăng ký nhập học:&nbsp;<strong>4,600,000 VNĐ.</strong></p>
    <p style="text-align: justify;">
        (2) &nbsp; Học phí 01 mức&nbsp;tiếng anh:&nbsp;<strong>10,350,000</strong> VNĐ/mức.
    </p>
    <p style="text-align: justify;"><strong>4. Cách thức nộp</strong></p>
    <p style="text-align: justify;">
        Sinh viên có thể nộp các khoản phí khi nhập học trực tiếp tại các Văn phòng tuyển
        sinh của Trường Đại học FPT hoặc nộp vào tài khoản của trường.
    </p>
    <p>
        <strong>
            II. <a href="https://daihoc.fpt.edu.vn/media/2021/08/HỌC-PHÍ-TẠI-ĐÀ-NẴNG-QUY-NHƠN-2021-14-8.pdf"
                   target="_blank" rel="noopener noreferrer">
                <span style="color: #0000ff;">
                    Học phí tại TP. Đà Nẵng và Quy
                    Nhơn (Dự kiến)
                </span>
            </a>
        </strong>
    </p>
    <p style="text-align: justify;">
        <strong>
            III. <a href="https://daihoc.fpt.edu.vn/media/2021/09/HỌC-PHÍ-TẠI-CẦN-THƠ-2021.pdf" target="_blank"
                    rel="noopener noreferrer"><span style="color: #0000ff;">Học phí tại TP. Cần Thơ</span></a>
        </strong>
    </p>
    <p style="text-align: justify;"><strong>IV. Thông tin tài khoản ngân hàng</strong></p>
    <p style="text-align: justify;"><strong>Tại Hà Nội:</strong></p>
    <ul>
        <li style="text-align: justify;">Số tài khoản: <strong>00006969009</strong></li>
        <li style="text-align: justify;">Tên tài khoản: Trường Đại học FPT</li>
        <li style="text-align: justify;">Địa chỉ: Ngân hàng Thương mại Cổ phần Tiên Phong – Chi nhánh Hoàn Kiếm</li>
        <li style="text-align: justify;">
            Nội dung nộp tiền: &lt;Họ và tên thí sinh – Số CMND của thí sinh – Lệ phí DKNH
            2021&gt;
        </li>
    </ul>
    <p style="text-align: justify;"><strong>Tại TP. Hồ Chí Minh:</strong></p>
    <ul>
        <li style="text-align: justify;">Số tài khoản: <strong>20209090909</strong></li>
        <li style="text-align: justify;">Tên tài khoản: Phân hiệu Trường Đại học FPT tại thành phố Hồ Chí Minh</li>
        <li style="text-align: justify;">
            Địa chỉ: Ngân Hàng Thương mại Cổ phần Tiên Phong – Chi Nhánh Tp.Hồ Chí Minh.
        </li>
        <li style="text-align: justify;">
            Nội dung nộp tiền: &lt;Họ và tên thí sinh – Số CMND của thí sinh – Lệ phí DKNH
            2021&gt;
        </li>
    </ul>
    <p style="text-align: justify;"><strong>Tại TP. Đà Nẵng/Quy Nhơn (Dự kiến):</strong></p>
    <ul>
        <li style="text-align: justify;">Số tài khoản: <strong>03557714901</strong></li>
        <li style="text-align: justify;">Tên tài khoản: Phân hiệu Trường Đại học FPT tại thành phố Đà Nẵng</li>
        <li style="text-align: justify;">Địa chỉ: Tại Ngân hàng Thương mại Cổ phần Tiên Phong – Chi nhánh Đà Nẵng</li>
        <li style="text-align: justify;">
            Nội dung nộp tiền: &lt;Họ và tên thí sinh – Số CMND của thí sinh – Lệ phí DKNH
            2021&gt;
        </li>
    </ul>
    <p><strong>Tại TP. Cần Thơ:</strong></p>
    <ul>
        <li>Số tài khoản: <strong>09098788005</strong></li>
        <li>Tên tài khoản: PHÂN HIỆU TRƯỜNG ĐẠI HỌC FPT TẠI THÀNH PHỐ CẦN THƠ</li>
        <li>Địa chỉ: Ngân hàng Thương mại Cổ phần Tiên Phong – Chi nhánh&nbsp;Cần Thơ</li>
        <li>Nội dung nộp tiền: &lt;Họ và tên thí sinh – Số CMND của thí sinh – Lệ phí DKNH 2021&gt;</li>
    </ul>
</div>