
<div class="entry-content">
    <div class="header-content">
        <h1>TÀI CHÍNH</h1>
    </div> 
    <p><strong>Tổng quan về chuyên ngành Tài chính thuộc ngành Quản trị kinh doanh</strong></p>
    <p>
        Tài chính là một trong những ngành nghề có nhu cầu rất lớn về lao động trong mọi nền kinh tế và
        ngày càng được nhiều bạn trẻ lựa chọn bởi tính chất đa dạng của công việc và nguồn thu nhập cao.
    </p>
    <p>
        Mục tiêu tổng thể của chương trình cử nhân Quản trị Kinh doanh (QTKD) – Chuyên ngành Tài chính
        của Trường Đại học FPT là đào tạo người học thành các nhà chuyên môn trong các lĩnh vực về quản
        trị tài chính, nhà quản lý, doanh nhân tiềm năng. Có đủ các kiến thức và kỹ năng cần thiết để có
        làm việc trong lĩnh vực tài chính và trong môi trường quốc tế.
    </p>
    <p><strong>Địa&nbsp;điểm học</strong>: Hà Nội</p>
    <p><strong>Triển vọng nghề nghiệp:</strong></p>
    <p>Sinh viên tốt nghiệp ngành Tài chính Đại học FPT có thể làm việc ở các vị trí như:</p>
    <ul>
        <li>Chuyên viên phân tích tài chính doanh nghiệp</li>
        <li>Chuyên viên tư vấn tài chính</li>
        <li>Chuyên viên môi giới tài chính</li>
        <li>Chuyên viên tư vấn chứng khoán</li>
        <li>Chuyên viên phân tích chứng khoán</li>
        <li>Chuyên viên môi giới chứng khoán</li>
        <li>Kế toán – kiểm toán</li>
        <li>Quản trị tài chính</li>
        <li>Khởi nghiệp</li>
    </ul>
    <p><strong>Chương trình đào tạo:</strong></p>
    <p>
        Chương trình bao gồm bốn khối kiến thức lớn:<br>
        • Kiến thức kỹ năng chung (12 môn – 32 tín chỉ): Cung cấp cho người học các kiến thức chung về
        chính trị, văn hóa, xã hội; và các kỹ năng cần thiết để học tập và làm việc trong môi trường
        năng động luôn thay đổi.<br>
        • Kiến thức kỹ năng ngành (16 môn – 55 tín chỉ): Cung cấp các kiến thức cơ sở ngành quản trị
        kinh doanh; các kỹ năng và thái độ cần thiết để trở thành các nhà chuyên môn trong lĩnh vực quản
        trị kinh doanh.<br>
        • Kiến thức kỹ năng chuyên ngành (10 môn – 32 tín chỉ): Cung cấp các kiến thức chung về thị
        trường tài chính và hành vi đầu tư, các kiến thức chuyên sâu về mô hình tài chính, định giá tài
        chính và quản trị rủi ro tài chính. Trang bị cho người học các kỹ năng và công cụ để phân tích
        tài chính, ra quyết định đầu tư, và nghiên cứu độc lập trong lĩnh vực tài chính.<br>
        • Lựa chọn (5 môn – 15 tín chỉ cho mỗi lựa chọn): Cung cấp các kiến thức và kỹ năng chuyên sâu
        về hai lĩnh vực: Tài chính đầu tư và tài chính doanh nghiệp.
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 20%;">Học kỳ</th>
                <th style="width: 30%;">Học phần</th>
                <th>Kỹ năng đạt được</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nền tảng</td>
                <td>
                    <ul>
                        <li>Định hướng</li>
                        <li>Rèn luyện tập trung</li>
                        <li>Vovinam 1</li>
                        <li>Tiếng Anh Chuẩn bị</li>
                        <li>Nhạc cụ truyền thống</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            Sinh viên có phương pháp học đại học hiệu quả như: tự học, làm việc nhóm,
                            quản lý thời gian, tối ưu hoá năng lực não bộ cải thiện kết quả học tập.
                        </li>
                        <li>
                            Sinh viên đạt trình độ tiếng Anh tương đương IELTS 6.0 hoặc TOEFL iBT 80.
                        </li>
                        <li>
                            Sinh viên tự tin đọc hiểu giáo trình, học tập hoàn toàn bằng tiếng Anh, giao
                            tiếp thông thạo với giảng viên và sinh viên quốc tế.
                        </li>
                        <li>
                            Sinh viên có tinh thần rèn luyện thể chất, phát triển cá nhân toàn diện.
                        </li>
                        <li>
                            Sinh viên hiểu và trân trọng giá trị âm nhạc truyền thống. Chơi được một số
                            bài dân ca, nhạc cổ, ca khúc Việt Nam và nước ngoài bằng một trong những
                            nhạc cụ truyền thống như sáo, nhị, bầu, nguyệt, tranh, tỳ bà.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Học kỳ 1</td>
                <td>
                    <ul>
                        <li>Kỹ năng học tập đại học</li>
                        <li>Nhập môn quản lý</li>
                        <li>Nguyên lý Marketing</li>
                        <li>Kinh tế vi mô</li>
                        <li>Tiếng Anh Kinh doanh 1</li>
                        <li>Vovinam 2</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Sinh viên bước đầu tiếp cận với tiếng Anh thương mại</li>
                        <li>
                            Sinh viên có kiến thức phân tích đối thủ, hoạch định chiến lược cạnh tranh,
                            định lượng trong kinh doanh.
                        </li>
                        <li>Sinh viên có kiến thức tổng quát về marketing.</li>
                        <li>
                            Sinh viên tìm hiểu nghiên cứu thị trường hoạt động, sự tương tác của các
                            thành viên trong nền kinh tế thị trường và ảnh hưởng lợi ích kinh tế.
                        </li>
                        <li>
                            Sinh viên có tinh thần rèn luyện thể chất, phát triển cá nhân toàn diện, có
                            kỹ năng học tập đại học hiệu quả.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Học kỳ 2</td>
                <td>
                    <ul>
                        <li>Kỹ năng giao tiếp và cộng tác</li>
                        <li>Nguyên lý kế toán</li>
                        <li>Kinh tế vĩ mô</li>
                        <li>Hành vi tổ chức</li>
                        <li>Tiếng Anh kinh doanh 2</li>
                        <li>Vovinam 3</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            Sinh viên hiểu nền tảng cơ bản của truyền thông doanh nghiệp. Cung cấp cho
                            các sinh viên cơ hội để thực hành giao tiếp, cách làm việc nhóm trong kinh
                            doanh.
                        </li>
                        <li>
                            Sinh viên có kiến thức về kế toán tài chính, kế toán quản lý và tài chính
                            doanh nghiệp bao gồm: giao dịch kinh doanh, định dạng và phân tích báo cáo
                            tài chính, hàng tồn kho và khoản phải thu, loại tài sản và trách nhiệm pháp
                            lý, phân loại chi phí, ngân sách chính và lập dự toán ngân sách.
                        </li>
                        <li>
                            Sinh viên biết cách thức tổ chức và vận hành tập thể, nắm được vai trò của
                            cá nhân – nhóm – cơ cấu tổ chức.
                        </li>
                        <li>Tiếp cận tiếng Anh thương mại ở mức độ nâng cao.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>&nbsp;Học kỳ 3</td>
                <td>
                    <ul>
                        <li>Tài chính doanh nghiệp</li>
                        <li>Quản trị nhân sự</li>
                        <li>Kinh tế tiền tệ</li>
                        <li>Thị trường tài chính và các định chế tài chính</li>
                        <li>Phân tích báo cáo tài chính</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            Sinh viên học cách phân tích báo cáo tài chính, lạm phát, lãi suất, giá trị
                            thời gian của tiền, dòng tiền và lập ngân sách vốn, rủi ro và lợi nhuận,
                            định giá cổ phiếu, chi phí vốn, quản lý vốn lưu động.
                        </li>
                        <li>
                            Sinh viên có kiến thức quản lý nguồn nhân lực bao gồm: Lãnh đạo, lập kế
                            hoạch việc làm, tuyển dụng, tuyển chọn nhân viên, đánh giá hiệu quả nhân sự
                            và văn hoá doanh nghiệp.
                        </li>
                        <li>
                            Sinh viên được tìm hiểu về hoạt động tài chính công ty, cách hội đồng quản
                            trị và bán giám đốc đánh giá các cơ hội đầu tư và các thoả thuận tài trợ cho
                            các khoản đầu tư đó.
                        </li>
                        <li>
                            Sinh viên tìm hiểu về các chính sách kinh tế vĩ mô ở mức độ trung cấp: các
                            chủ đề kinh tế quốc tế, tiền tệ và tài chính. Sinh viên nắm được cách phân
                            tích các sự kiện kinh tế vĩ mô như các chu kỳ suy thoái kinh doanh, tăng
                            trưởng dài hạn,… để áp dụng cho các sự kiện kinh tế hiện đại.
                        </li>
                        <li>
                            Sinh viên được trang bị kiến thức về thị trường và tổ chức tài chính, bao
                            gồm các chủ đề như Nợ, vốn chủ sở hữu, thị trường phái sinh, ngân hàng
                            thương mại, hoạt động phi ngân hàng…
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>&nbsp;Học kỳ 4</td>
                <td>
                    <ul>
                        <li>Tài chính doanh nghiệp nâng cao</li>
                        <li>Kế toán quản trị</li>
                        <li>Thống kê ứng dụng trong kinh doanh</li>
                        <li>Quản trị dự án</li>
                        <li>Ngoại ngữ 1</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            Sinh viên được trang bị kiến thức chuyên sâu cách quản lý tài chính doanh
                            nghiệp như lập vốn ngân sách, cơ cấu vốn, huy động vốn, lập kế hoạch và dự
                            báo tài chính, quản lý rủi ro doanh nghiệp… để công ty hoạt động hiệu quả và
                            phát triển trong bối cảnh cạnh tranh của nền kinh tế thị trường.
                        </li>
                        <li>
                            Sinh viên hiểu được khái niệm và công cụ cần thiết để sử dụng hiệu quả thông
                            tin kế toán quản lý.
                        </li>
                        <li>
                            Sinh viên học cách quản lý dự án, các hạng mục đầu tư để công ty hoạt động
                            hiệu quả.
                        </li>
                        <li>Sinh viên học chuyên sâu tiếng Anh thương mại và tiếng Anh học thuật.</li>
                    </ul>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>&nbsp;Học kỳ 5</td>
                <td>
                    <ul>
                        <li>Các mô hình tài chính</li>
                        <li>Phương pháp nghiên cứu và&nbsp; phân tích định lượng</li>
                        <li>Các công cụ phái sinh</li>
                        <li>Giao tiếp trong kinh doanh</li>
                        <li>Ngoại ngữ 2</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            Sinh viên hiểu nền tảng cơ bản của truyền thông doanh nghiệp. Cung cấp cho
                            các sinh viên cơ hội để thực hành giao tiếp trong truyền thông kinh doanh.
                        </li>
                        <li>
                            Sinh viên áp dụng kiến thức tài chính nói chung và tài chính doanh nghiệp
                            nói riêng vào các bài tập mô hình tài chính khác nhau. Các chủ đề bao gồm:
                            Phân tích Báo cáo tài chính, Giá trị thời gian của tiền, Dự báo dòng tiền,
                            Định giá cổ phiếu, Chi phí vốn, quản lý vốn lưu động, Định giá trái phiếu,
                            Chiến lược quản lý danh mục đầu tư trái phiếu…
                        </li>
                        <li>
                            Trang bị cho sinh viên kiến thức chuyên sâu về định giá phái sinh và chiến
                            lược đầu tư gồm các nội dung học về Chiến lược và định giá tương lai và kỳ
                            hạn, Chiến lược và định giá quyền chọn, Hoán đổi, Hàng hóa kỳ hạn và kỳ hạn,
                            Quản lý rủi ro tài chính…
                        </li>
                        <li>
                            Trang bị cho sinh viên có kiến thức cơ bản về ngữ âm, chữ viết và những câu
                            giao tiếp đơn giản, đồng thời trang bị những kiến thức cơ bản về nghe, nói,
                            đọc, viết tiếng Trung.
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>Học kỳ 6</td>
                <td>Đào tạo trong môi trường thực tế</td>
                <td>
                    Sinh viên làm việc thực tế từ 4 – 8 tháng tại các công ty thành viên thuộc tập đoàn
                    FPT hoặc hơn 300 doanh nghiệp là đối tác của tập đoàn FPT trên toàn thế giới.
                </td>
            </tr>
            <tr>
                <td>&nbsp;Học kỳ 7</td>
                <td>
                    <ul>
                        <li>Lựa chọn 1</li>
                        <li>Lựa chọn 2</li>
                        <li>Lựa chọn 3</li>
                        <li>Luật và Đạo đức kinh doanh</li>
                        <li>Kĩ năng viết bài nghiên cứu</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            Sinh viên học các môn lựa chọn để trang bị thêm các kiến thức và kỹ năng
                            chuyên sâu về hai lĩnh vực: Tài chính đầu tư và tài chính doanh nghiệp.
                        </li>
                        <li>
                            Trang bị cho sinh viên kiến thức về vai trò của đạo đức kinh doanh trong
                            việc điều chỉnh hành vi của chủ thể kinh doanh, quy trình xây dựng một
                            chương trình đạo đức kinh doanh hiệu quả trong doanh nghiệp và các vấn đề về
                            đạo đức kinh doanh toàn cầu.
                        </li>
                        <li>
                            Sinh viên có kiến thức phân tích kinh doanh bên ngoài, chiến lược kinh
                            doanh, kế hoạch kinh doanh, kế hoạch tiếp thị, quản lý tài sản và quản lý
                            nhân sự.
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>Học kỳ 8</td>
                <td>
                    <ul>
                        <li>Lựa chọn 4</li>
                        <li>Lựa chọn 5</li>
                        <li>Thẩm định dự án đầu tư</li>
                        <li>Nhập môn hệ thống thông tin</li>
                        <li>Triết học Mác – Lê-nin</li>
                        <li>Kinh tế chính trị Mác – Lê-nin</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            Sinh viên học các môn lựa chọn để trang bị thêm các kiến thức và kỹ năng
                            chuyên sâu về hai lĩnh vực: Tài chính đầu tư và tài chính doanh nghiệp.
                        </li>
                        <li>
                            Sinh viên được trang bị kiến thức nền tảng để hiểu biết và phân tích các hệ
                            thống thông tin trong các tổ chức. Biết cách trình bày kiến thức cơ bản về
                            vai trò của hệ thống thông tin trong kinh doanh, cách thiết kế và xây dựng
                            một hệ thống thông tin phù hợp và cách quản lý hiệu quả các nguồn thông tin
                            kinh doanh.
                        </li>
                        <li>
                            Sinh viên có nền tảng lý luận và kiến thức về phân tích và thẩm định dự án
                            đầu tư dưới góc độ của doanh nghiệp cũng như quản lý nhà nước; nắm rõ phương
                            pháp phân tích và thẩm định dự án trên mọi phương diện mà dự án có thể tạo
                            ra ảnh hưởng và ngược lại. Vận dụng được các phương pháp này vào phân tích
                            và thẩm định một dự án thực tế.
                        </li>
                        <li>
                            Sinh viên tìm hiểu về triết học và vai trò của triết học trong đời sống,
                            được trang bị kiến thức về nội dung, tác dụng của các quy luật kinh tế cơ
                            bản trong nền kinh tế hàng hóa và các vấn đề có tính quy luật trong thời kỳ
                            quá độ lên chủ nghĩa xã hội.
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>Học kỳ 9</td>
                <td>
                    <ul>
                        <li>Chủ nghĩa xã hội khoa học</li>
                        <li>Tư tưởng HCM</li>
                        <li>Lịch sử Đảng Cộng sản Việt Nam</li>
                        <li>Khởi sự doanh nghiệp</li>
                        <li>Khóa luận tốt nghiệp TC</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            Các môn chính trị cung cấp cho sinh viên những kiến thức cơ bản của Tư tưởng
                            Hồ Chí Minh về những vấn đề cơ bản của cách mạng Việt Nam; những vấn đề cơ
                            bản về lịch sử ĐCS Việt Nam và đường lối cách mạng của ĐCS Việt Nam. Sinh
                            viên hiểu được đối tượng và phương pháp nghiên cứu của chủ nghĩa xã hội khoa
                            học, sự hình thành và các giai đoạn phát triển cơ bản của chủ nghĩa xã hội
                            khoa học.
                        </li>
                        <li>
                            Sinh viên nhận thức kinh doanh để khởi sự doanh nghiệp, biết cách lập kế
                            hoạch kinh doanh để khởi sự doanh nghiệp, bao gồm: chuẩn bị kế hoạch kinh
                            doanh và kế hoạch hành động cho doanh nghiệp mới của mình
                        </li>
                        <li>
                            Sinh viên thực hiện và sở hữu đồ án/ứng dụng/mô hình kinh doanh dịch vụ của
                            riêng mình.
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p><strong>Kinh nghiệm tích lũy sau chương trình:</strong></p>
    <p>
        Sinh viên được thực hành qua các học phần và học tập tại doanh nghiệp trong giai đoạn OJT (On the
        Job Training). Quá trình thực hành và làm việc thực tế không chỉ giúp sinh viên củng cố, phát
        triển nâng cao kiến thức, kỹ năng nghề nghiệp mà còn tạo được mối liên lạc, mạng lưới với doanh
        nghiệp.
    </p>
    <p>
        Ngoài kiến thức chuyên môn cập nhật, sinh viên Đại học FPT được định hướng phát triển toàn diện
        thông qua các hoạt động, chương trình đào tạo phát triển kỹ năng mềm phục vụ cho công việc. Song
        song đó, sinh viên chuyên ngành Tài chính tại Đại học FPT còn được trang bị hai ngoại ngữ là
        Tiếng Anh và Tiếng Trung để có thể đáp ứng đòi hỏi ngày càng cao của công việc. Qua đó góp phần
        nâng cao khả năng tìm kiếm việc làm của sinh viên ngay sau khi tốt nghiệp.
    </p>
    <p><strong>Tốt nghiệp:</strong></p>
    <p>
        Sinh viên tích lũy đủ số tín chỉ và chứng chỉ theo yêu cầu. Nhà trường tổ chức 3 đợt tốt nghiệp
        vào các tháng 1, 5, 9 hàng năm.
    </p>
    <p>&nbsp;</p>
</div>
<footer class="entry-footer">
    <div class="footer-title">
        <h2 class="title">Đăng ký xét tuyển</h2>
    </div>
    <div class="register-type">
        <a class="register-button"
           href="https://daihoc.fpt.edu.vn/dang-ky-truc-tuyen/">Gửi hồ sơ trực tuyến</a>
    </div>
</footer>