

<div class="entry-content">
    <div class="header-content">
        <h1>Quản trị khách sạn</h1>
    </div>
    <p><b>Tổng quan về chuyên ngành Quản trị khách sạn thuộc ngành Quản trị kinh doanh:</b></p>
    <p>
        <span style="font-weight: 400;">
            Từ nền tảng kiến thức về quản trị kinh doanh, chuyên ngành này đi
            sâu về kỹ năng thực tiễn và kiến thức chuyên môn cần thiết cho công tác quản lý du lịch nói
            chung, quản trị công ty du lịch, khách sạn – nhà hàng nói riêng. Kiến thức chuyên môn, kỹ
            năng thực hành về các nghiệp vụ cơ bản của khách sạn như: Lễ tân, Buồng, Ăn uống, Kỹ năng về
            giám sát và các môn học chuyên ngành hẹp như Quản trị lưu trú, Quản trị nhà hàng và Quản trị
            hội nghị, hội thảo… &nbsp;nhằm đào tạo kiến thức cho người học về thị trường kinh doanh
            khách sạn, các biến động và xu hướng của thị trường giúp cho doanh nghiệp quản lý được sự
            thay đổi và nâng cao năng lực cạnh tranh.
        </span>
    </p>
    <p>
        <span style="font-weight: 400;">
            Chương trình được thiết kế dựa trên các khung đào tạo về Quản trị
            khách sạn của Thụy Sĩ và Malaysia.
        </span>
    </p>
    <p>
        <b>Địa&nbsp;điểm học</b><span style="font-weight: 400;">
            : Hà Nội, Tp. Hồ Chí Minh,&nbsp;Đà Nẵng,
            Cần Thơ
        </span>
    </p>
    <p><b>Triển vọng nghề nghiệp:</b></p>
    <p>
        <span style="font-weight: 400;">
            Sinh viên sau khi ra trường sẽ có thể làm việc tại các cơ sở kinh
            doanh và quản trị khách sạn như sau:
        </span>
    </p>
    <ul>
        <li>
            <span style="font-weight: 400;">
                Công tác tại các vị trí trực tiếp phục vụ khách tại khách
                sạn như: bộ phận Tiền sảnh (Font Office), quản lý bộ phận Nhà hàng (Food &amp; Beverage)
                và quản lý bộ phận Phòng (Housekeeping) trong các khách sạn và nhà hàng đạt tiêu chuẩn
                quốc tế, hoặc trở thành cán bộ điều hành, tiếp thị, nhân sự, tài chính tại các cơ quan
                nghiên cứu, kinh doanh du lịch trong và ngoài nước.
            </span>
        </li>
        <li>
            <span style="font-weight: 400;">
                Ngoài ra, Quản lý Khách sạn còn có các chuyên ngành liên
                quan như: Ngành hướng dẫn viên; Ngành Quản Trị Nhà hàng; Nghiệp vụ lễ tân khách sạn;
                Nghiệp vụ Bàn chuyên nghiệp; Đầu bếp; Nghiệp vụ Phòng; Nhân viên Pha chế
                (Bartender)
            </span>
        </li>
        <li>
            <span style="font-weight: 400;">
                Công tác tại các khu du lịch nghỉ dưỡng, vui chơi giải trí:
                quản lý, hành chính, nhân lực, tài chính, tiếp thị.
            </span>
        </li>
        <li>
            <span style="font-weight: 400;">
                Có thể đảm nhận các công việc trong các bộ phận của một
                khách sạn – nhà hàng từ 3-5 sao như: tiền sảnh – lễ tân, Phòng buồng, Ẩm thực, Bếp, Hội
                nghị yến tiệc, Nhân sự, Tài chính – kế toán, Kinh doanh – tiếp thị.
            </span>
        </li>
    </ul>
    <p><strong>Chương trình đào tạo:</strong></p>
    <table style="width: 98.81656804733727%; border-color: #000000;" border="1">
        <tbody>
            <tr>
                <td style="width: 13.166566275732558%;"><strong>Học Kỳ</strong></td>
                <td style="width: 34.64408461184141%;"><strong>Học Phần</strong></td>
                <td style="width: 51.005917159763314%;"><strong>Kỹ năng đạt được&nbsp;</strong></td>
            </tr>
            <tr>
                <td style="width: 13.166566275732558%;">Nền tảng</td>
                <td style="width: 34.64408461184141%;">
                    <ul>
                        <li>Tuần lễ định hướng</li>
                    </ul>
                    <ul>
                        <li>Tháng rèn luyện tập trung</li>
                    </ul>
                    <ul>
                        <li>Tiếng Anh chuẩn bị để đạt tới Summit 2 (nếu cần thiết)</li>
                    </ul>
                    <ul>
                        <li>Võ Vovinam</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;">
                    <ul>
                        <li>
                            Sinh viên có phương pháp học đại học hiệu quả như: tự học, làm việc nhóm,
                            quản lý thời gian, tối ưu hoá năng lực não bộ cải thiện kết quả học tập.
                        </li>
                        <li>
                            Sinh viên đạt trình độ tiếng Anh tương đương IELTS 6.0 hoặc TOEFL iBT 80.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Sinh viên tự tin đọc hiểu giáo trình, học tập hoàn toàn bằng tiếng Anh, giao
                            tiếp thông thạo với giảng viên và sinh viên quốc tế.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Sinh viên có tinh thần rèn luyện thể chất, phát triển cá nhân toàn diện.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 13.166566275732558%;">Học kỳ 1</td>
                <td style="width: 34.64408461184141%;" data-title="học phần">
                    <ul>
                        <li>Kinh tế vi mô</li>
                        <li>Tin học ứng dụng</li>
                        <li>Kỹ năng làm việc nhóm hiệu quả</li>
                        <li>Tiếng Anh thương mại Pre-Intermediate</li>
                        <li>Tiếng Anh học thuật 1</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>
                            Sinh viên có kiến thức phân tích đối thủ, hoạch định chiến lược cạnh tranh,
                            định lượng trong kinh doanh.<br>
                            Sử dụng thành thạo vi tính văn phòng và các công cụ công nghệ thông tin cần
                            thiết trong công việc.
                        </li>
                        <li>
                            Tiếp cận với tiếng Anh thương mại và tiếng Anh học thuật ở mức độ cơ bản.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 13.166566275732558%;">Học kỳ 2</td>
                <td style="width: 34.64408461184141%;" data-title="học phần">
                    <ul>
                        <li>Nguyên lý marketing</li>
                        <li>Kinh tế vĩ mô</li>
                        <li>Giao tiếp kinh doanh</li>
                        <li>Tiếng Anh học thuật 2</li>
                        <li>Tiếng Anh thương mại Intermediate</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    &nbsp;<p></p>
                    <ul>
                        <li>Sinh viên có kiến thức tổng quát về marketing.</li>
                        <li>
                            Sinh viên có kiến thức tổng quan về kinh tế, các thể chế chính trị – xã hội
                            tác động đến nền kinh tế và ngành kinh tế.
                        </li>
                        <li>Có kỹ năng đàm phán và giao tiếp trong kinh doanh.</li>
                        <li>Tiếp cận tiếng Anh thương mại và tiếng Anh học thuật ở mức độ nâng cao.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 13.166566275732558%;">Học kỳ 3</td>
                <td style="width: 34.64408461184141%;" data-title="học phần">
                    <ul>
                        <li>Tổng quan ngành Khách sạn dịch vụ quốc tế</li>
                        <li>Luật kinh tế</li>
                        <li>Nhập môn quản lí</li>
                        <li>Tiếng Anh thương mại Upper – Intermediate</li>
                        <li>Hán ngữ sơ cấp 1</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>Có kiến thức tổng quát về ngành Dịch vụ Khách sạn quốc tế.</li>
                        <li>Sinh viên có khả năng Quản trị và nắm vững kiến thức về Luật kinh tế.</li>
                        <li>Sử dụng tiếng Anh thương mại ở mức độ nâng cao</li>
                        <li>Tiếp xúc với ngoại ngữ thứ 2 – tiếng Trung Quốc ở mức độ cơ bản</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 13.166566275732558%;">Học kỳ 4</td>
                <td style="width: 34.64408461184141%;" data-title="học phần">
                    <ul>
                        <li>Quản trị và vận hành Buồng phòng</li>
                        <li>Quản trị và vận hành sảnh</li>
                        <li>Quản trị dịch vụ ăn uống</li>
                        <li>Hán ngữ sơ cấp 2</li>
                        <li>Môn tự chọn 1: Quản trị trải nghiệm khách hàng</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>
                            Sinh viên được thực hành các nghiệp vụ chuyên ngành: quản trị buồng phòng,
                            vận hành dịch vụ nhà hàng, quản trị và tổ chức sự kiện, giao tiếp trong quản
                            trị nhà hàng – khách sạn bằng tiếng làm việc bằng tiếng Anh trong môi trường
                            quốc tế tại Đại học KDU, Malaysia.
                        </li>
                        <li>Được trang bị tiếng Hoa ở mức độ nâng cao.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 13.166566275732558%;">Học kỳ 5</td>
                <td style="width: 34.64408461184141%;" data-title="học phần">
                    <ul>
                        <li>Hành vi tổ chức</li>
                        <li>Nguyên lý kế toán</li>
                        <li>Môn lựa chọn 2: Quản trị chuỗi cung ứng hoặc quản lý tiền sảnh 2</li>
                        <li>Quản trị Marketing dịch vụ</li>
                        <li>Hán ngữ sơ cấp 3</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>
                            Sinh viên biết cách thức tổ chức và vận hành tập thể, kiểm soát tài chính,
                            đặc thù Marketing dịch vụ.
                        </li>
                        <li>Được trang bị tiếng Hoa ở mức độ nâng cao.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 13.166566275732558%;">Học kỳ 6</td>
                <td style="width: 34.64408461184141%;" data-title="học phần">
                    <ul>
                        <li>Thực tập làm việc thực tế ở trong nước hoặc nước ngoài</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>
                            Làm việc thực tế tại tại các nhà hàng – khách sạn đạt chuẩn quốc tế tại Việt
                            Nam hoặc nước ngoài từ 3 – 4 tháng.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 13.166566275732558%;">Học kỳ 7</td>
                <td style="width: 34.64408461184141%;" data-title="học phần">
                    <ul>
                        <li>Quản trị chi phí trong ngành thực phẩm &amp; dịch vụ ăn uống</li>
                        <li>Môn tự chọn 3: Nghiệp vụ pha chế đồ uống 1</li>
                        <li>Kỹ năng Quản lý trong nhà hàng – khách sạn</li>
                        <li>Tổ chức sự kiện</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>
                            Sinh viên có kỹ năng để trở thành Quản lý nhà hàng khách sạn, quản trị tài
                            chính khối ngành dịch vụ.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 13.166566275732558%;">Học kỳ 8</td>
                <td style="width: 34.64408461184141%;" data-title="học phần">
                    <ul>
                        <li>Đạo đức kinh doanh</li>
                        <li>Hệ thống thông tin quản lý</li>
                        <li>Ra quyết định trong kinh doanh</li>
                        <li>Quản trị doanh thu khách sạn</li>
                        <li>Phương pháp nghiên cứu khoa học</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>
                            Sinh viên có kỹ năng quản trị tài chính, ra quyết định kinh doanh, quản trị
                            hệ thống thông tin trong kinh doanh du lịch, khách sạn, dịch vụ.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 13.166566275732558%;">Học kỳ 9</td>
                <td style="width: 34.64408461184141%;" data-title="học phần">
                    <ul>
                        <li>Quản trị và đàm phán trong môi trường đa văn hoá</li>
                        <li>Khóa luận tốt nghiệp</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>Sinh viên hiểu cách hoà nhập và làm việc trong môi trường đa văn hoá.</li>
                        <li>
                            Sinh viên thực hiện và sở hữu đồ án/ứng dụng/mô hình kinh doanh dịch vụ của
                            riêng mình.
                        </li>
                        <li>
                            Sinh viên có đủ khả năng làm việc trong lĩnh vực Nhà hàng – Khách sạn tại
                            hầu hết các quốc gia trên thế giới.
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p><b>Kinh nghiệm tích lũy sau chương trình:</b></p>
    <p>
        <span style="font-weight: 400;">
            Sinh viên được thực hành qua các học phần và học tập tại doanh
            nghiệp trong giai đoạn OJT. Quá trình thực hành và làm việc thực tế không chỉ giúp sinh viên
            củng cố, phát triển nâng cao kiến thức, kỹ năng nghề nghiệp mà còn tạo được mối liên lạc,
            mạng lưới với doanh nghiệp. Qua đó góp phần nâng cao khả năng tìm kiếm việc làm khi tốt
            nghiệp.
        </span>
    </p>
    <p><strong>Tốt nghiệp: </strong></p>
    <p>
        Sinh viên tích lũy đủ số tín chỉ và chứng chỉ theo yêu cầu. Nhà trường tổ chức 3 đợt tốt nghiệp
        vào các tháng 1, 5, 9 hàng năm
    </p>
</div>
<footer class="entry-footer">
    <div class="footer-title">
        <h2 class="title">Đăng ký xét tuyển</h2>
    </div>
    <div class="register-type">
        <a class="register-button"
           href="https://daihoc.fpt.edu.vn/dang-ky-truc-tuyen/">Gửi hồ sơ trực tuyến</a>
    </div>
</footer>