@{
    ViewData["Title"] = "Information Security";
}
<h1>@ViewData["Title"]</h1>
<div class="entry-content">
    <div class="header-content">
        <h1>An toàn thông tin</h1>
    </div>
    <p><strong>Tổng quan về chuyên ngành An toàn thông tin thuộc ngành Công nghệ thông tin:</strong></p>
    <p>
        Với sự phát triển của Điện toán đám mây và Thương mại điện tử, ngày nay việc đảm bảo an toàn
        thông tin được coi là nhiệm vụ đặc biệt quan trọng, và sẽ trở thành ngành có nhu cầu nhân lực
        rất lớn trong tương lai. Việc đảm bảo an toàn thông tin lúc này không chỉ là việc bảo vệ hệ
        thống khỏi những tấn công của hacker, mà còn là đảm bảo các gói tin chạy an toàn, không mất mát
        khi truyền dữ liệu.
    </p>
    <p>
        Với lợi thế nằm trong một tập đoàn dẫn đầu về công nghệ, Đại học FPT luôn được tiếp cận và cập
        nhật liên tục những xu hướng công nghệ mới nhất, những tri thức CNTT hiện đại của thế giới. Đây
        chính là một trong những điểm mạnh khiến sinh viên tốt nghiệp từ Đại học FPT chiếm ưu thế trên
        thị trường nhân lực chất lượng cao ngành CNTT hiện nay. Chương trình đào tạo được thiết kế theo
        các chuẩn quốc tế cao nhất về quy trình chất lượng như chuẩn &nbsp;ABET (Accreditation Board for
        Engineering and Technology), chuẩn ACM (Association for Computing Machinery), và cập nhật các
        công nghệ mới nhất của các tập đoàn CNTT hàng đầu thế giới như Microsoft, IBM, Oracle, Sun
        Microsystems,…
    </p>
    <p>
        Từ nền tảng của ngành CNTT, sinh viên được học tập về phần cứng, phần mềm, mạng, nguyên tắc tổ
        chức thông tin, chính sách và pháp luật của nhà nước cũng như yếu tố con người trong việc đảm
        bảo an toàn thông tin.
    </p>
    <p><strong>Địa&nbsp;điểm học</strong>: Hà Nội, TP.Hồ Chí Minh, Cần Thơ</p>
    <p><strong>Triển vọng nghề nghiệp:</strong></p>
    <p>Sinh viên tốt nghiệp ngành An toàn thông tin có thể làm việc ở các vị trí sau:</p>
    <ul>
        <li>Chuyên viên quản trị an ninh mạng, cơ sở dữ liệu</li>
        <li>Chuyên viên phân tích, tư vấn, thiết kế hệ thống thông tin đảm bảo an toàn</li>
        <li>Chuyên viên kiểm tra, đánh giá an toàn thông tin cho mạng và hệ thống</li>
        <li>Chuyên gia rà soát lỗ hổng, điểm yếu và xử lý sự cố an toàn thông tin</li>
        <li>Chuyên gia lập trình và phát triển ứng dụng đảm bảo an toàn thông tin</li>
    </ul>
    <p><strong>Chương trình đào tạo:&nbsp;</strong></p>
    <table style="width: 98.81656804733727%; border-color: #000000;" border="1">
        <tbody>
            <tr>
                <td style="width: 12.088721964355313%;"><strong>Học Kỳ</strong></td>
                <td style="width: 35.72192892321865%;"><strong>Học Phần</strong></td>
                <td style="width: 51.005917159763314%;"><strong>Kỹ năng đạt được&nbsp;</strong></td>
            </tr>
            <tr>
                <td style="width: 12.088721964355313%;">Nền tảng</td>
                <td style="width: 35.72192892321865%;" data-title="học phần">
                    <ul>
                        <li>Tuần lễ định hướng</li>
                        <li>Tháng rèn luyện tập trung</li>
                        <li>Vovinam</li>
                        <li>01-06 Level tiếng Anh (Dựa vào năng lực tiếng Anh đầu vào)</li>
                        <li>Học kỳ tiếng Anh tại nước ngoài</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>
                            Sinh viên có phương pháp học Đại học hiệu quả như: tự học, làm việc nhóm,
                            quản lý thời gian, tối ưu hoá năng lực não bộ cải thiện kết quả học tập.
                        </li>
                        <li>
                            Sinh viên đạt trình độ tiếng Anh tương đương IELTS 6.0 hoặc TOEFL iBT 80.
                        </li>
                        <li>
                            Sinh viên tự tin đọc hiểu giáo trình, học tập hoàn toàn bằng tiếng Anh, giao
                            tiếp thông thạo với giảng viên và sinh viên quốc tế.
                        </li>
                        <li>
                            Sinh viên có tinh thần rèn luyện thể chất, phát triển cá nhân toàn diện.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 12.088721964355313%;">Học kỳ 1</td>
                <td style="width: 35.72192892321865%;" data-title="học phần">
                    <ul>
                        <li>Toán cho ngành kỹ thuật</li>
                        <li>Tổ chức và kiến trúc máy tính</li>
                        <li>Cơ sở lập trình 1 (C)</li>
                        <li>Võ vovinam</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>Ứng dụng Toán trong ngành công nghệ thông tin.</li>
                        <li>Đạt được kiến thức nền tảng về kiến trúc và cấu trúc máy tính.</li>
                        <li>Sinh viên có kiến thức và kỹ năng lập trình cơ bản.</li>
                        <li>Sinh viên có tinh thần rèn luyện thể chất</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 12.088721964355313%;">Học kỳ 2</td>
                <td style="width: 35.72192892321865%;" data-title="học phần">
                    <ul>
                        <li>Kỹ năng làm việc nhóm</li>
                        <li>Lập trình hướng đối tượng 1 (Java)</li>
                        <li>Các hệ cơ sở dữ liệu</li>
                        <li>Toán rời rạc</li>
                        <li>Cơ sở lập trình 2 (C)</li>
                        <li>Võ Vovinam</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>Sinh viên có tinh thần trách nhiệm nhóm và cùng nhau phát triển.</li>
                        <li>Sinh viên có kỹ năng bước đầu về lập trình hướng đối tượng với Java.</li>
                        <li>
                            Sinh viên cũng được trang bị về kiến thức và kỹ năng với các hệ cơ sở dữ
                            liệu và toán rời rạc.
                        </li>
                        <li>Sinh viên được trang bị kiến thức nâng cao với cơ sở lập trình 2.</li>
                        <li>Sinh viên có tinh thần rèn luyện thể chất</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 12.088721964355313%;">Học kỳ 3</td>
                <td style="width: 35.72192892321865%;">
                    <ul>
                        <li>Cấu trúc dữ liệu và giải thuật</li>
                        <li>Lập trình hướng đối tượng với Java</li>
                        <li>Lập trình Java – ứng dụng desktop</li>
                        <li>Mạng máy tính</li>
                        <li>Tổng quan về đảm bảo thông tin</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;">
                    <ul>
                        <li>
                            Sinh viên hiểu rõ tổng quan về an toàn thông tin, hệ thống máy tính và mạng
                            máy tính.
                        </li>
                        <li>Sinh viên có kỹ năng bước đầu về xây dựng hệ thống mạng.</li>
                        <li>
                            Sinh viên cũng được trang bị về kiến thức cấu trúc dữ liệu và giải thuật.
                        </li>
                        <li>Sinh viên có thể tự lập trình được các ứng dụng desktop với Java.</li>
                    </ul>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td style="width: 12.088721964355313%;">Học kỳ 4</td>
                <td style="width: 35.72192892321865%;">
                    <ul>
                        <li>Luật An ninh mạng và đạo đức trong lĩnh vực Công nghệ thông tin.</li>
                        <li>Quản trị rủi ro trong hệ thống thông tin (Phân tích lỗ hổng và rủi ro).</li>
                        <li>Kỹ năng giao tiếp.</li>
                        <li>Phát triển ứng dụng Web 1 (Java).</li>
                        <li>Hệ thống nguồn mở và quản trị mạng.</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;">
                    <ul>
                        <li>
                            Sinh viên hiểu rõ kiến thức về luật và đạo đức trong lĩnh vực Công nghệ
                            Thông tin.
                        </li>
                        <li>
                            Sinh viên được trang bị về kiến thức và kỹ năng quản trị rủi ro trong hệ
                            thống thông tin.
                        </li>
                        <li>
                            Sinh viên được trang bị kỹ năng giao tiếp hiệu quả trong định hướng nghề
                            nghiệp tương lai.
                        </li>
                        <li>Sinh viên có khả năng lập trình và phát triển ứng dụng Web với Java.</li>
                        <li>
                            Sinh viên cũng được trang bị kiến thức và kỹ năng quản trị hệ thống với mã
                            nguồn mở.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 12.088721964355313%;">Học kỳ 5</td>
                <td style="width: 35.72192892321865%;" data-title="học phần">
                    <ul>
                        <li>Xác suất và thống kê</li>
                        <li>Phân tích mã độc và Kỹ thuật dịch ngược</li>
                        <li>Hỗ trợ và khắc phục hệ thống</li>
                        <li>An ninh Web (DVWA)</li>
                        <li>Thực hành Java Web (Phát triển ứng dụng Java web 2).</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>
                            Sinh viên có khả năng ứng dụng các bài toán xác suất thống kê để phân hoạch
                            và tối ưu cho khai phá dữ liệu.
                        </li>
                        <li>Sinh viên có kỹ năng dịch ngược ứng dụng và phân tích mã độc.</li>
                        <li>
                            Sinh viên cũng được trang bị về kiến thức và kỹ năng hỗ trợ và khắc phục hệ
                            thống với các ứng dụng chạy trên nền tảng Microsoft Windows Server.
                        </li>
                        <li>
                            Sinh viên có khả năng lập trình và phát triển ứng dụng Web cho doanh nghiệp.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 12.088721964355313%;">Học kỳ 6</td>
                <td style="width: 35.72192892321865%;" data-title="học phần">
                    <ul>
                        <li>Thực tập thực tế tại doanh nghiệp (OJT – On the Job Training)</li>
                        <li>Khởi sự doanh nghiệp</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>Sinh viên cọ xát, tích luỹ kinh nghiệm thực tiễn</li>
                        <li>
                            Sinh viên được trang bị về kiến thức nền tảng khởi nghiệp. Sinh viên có thể
                            tự định hướng nghề nghiệp cho tương lai hoặc tự khởi nghiệp.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 12.088721964355313%;">Học kỳ 7</td>
                <td style="width: 35.72192892321865%;" data-title="học phần">
                    <ul>
                        <li>Điều tra số</li>
                        <li>Nhập môn mật mã ứng dụng</li>
                        <li>An ninh cơ sở dữ liệu.</li>
                        <li>Phát triển chính sách An toàn thông tin</li>
                        <li>Mạng căn bản cho ngành An toàn thông tin (Kết nối mạng)</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>Sinh viên được trang bị kiến thức về điều tra số.</li>
                        <li>Sinh viên hiểu được cơ bạn về mật mã ứng dụng trong an toàn thông tin.</li>
                        <li>Sinh viên có kỹ năng trong việc bảo mật cơ sở dữ liệu.</li>
                        <li>
                            Sinh viên có thể phát triển được chính sách an toàn thông tin cho doanh
                            nghiệp.
                        </li>
                        <li>
                            Sinh viên có thể triển khai và xây dựng hệ thống mạng đúng tiêu chuẩn an
                            toàn thông tin cho doanh nghiệp.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 12.088721964355313%;">Học kỳ 8</td>
                <td style="width: 35.72192892321865%;" data-title="học phần">
                    <ul>
                        <li>Quản trị dự án an toàn thông tin</li>
                        <li>Thâm nhập và Phòng thủ</li>
                        <li>Điều tra mạng</li>
                        <li>Lựa chọn Phân tích dữ liệu</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>
                            Sinh viên được trang bị kiến thức quản trị dự án an toàn thông tin trong môi
                            trường doanh nghiệp thực tế.
                        </li>
                        <li>
                            Sinh viên được thực nghiệm những kỹ thuật tấn công và phòng thủ trong không
                            gian hệ thống mạng.
                        </li>
                        <li>
                            Sinh viên có kỹ năng thu thập thông tin và điều tra trong hệ thống mạng.
                        </li>
                        <li>
                            Sinh viên có kỹ năng phân loại, lựa chọn và phân tích dữ liệu ứng dụng trong
                            xác định sự bất thường trong hệ thống mạng.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 12.088721964355313%;">Học kỳ 9</td>
                <td style="width: 35.72192892321865%;" data-title="học phần">
                    <ul>
                        <li>Ứng phó sự cố</li>
                        <li>Khoá luận tốt nghiệp</li>
                    </ul>
                </td>
                <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                    <ul>
                        <li>Sinh viên được trang bị kiến thức và kỹ năng ứng phó sự cố.</li>
                        <li>
                            Sinh viên hoàn thành khoá luận tốt nghiệp với các chuyên gia hàng đầu trong
                            lĩnh vực an toàn thông tin.
                        </li>
                        <li>
                            Sinh viên có kỹ năng làm báo cáo khoa học và trình bày trước hội đồng khoa
                            học nhà trường.
                        </li>
                        <li>
                            Từ những kinh nghiệm tích luỹ xuyên suốt quá trình đào tạo, sinh viên sẵn
                            sàng làm việc tại các doanh nghiệp trong và ngoài nước.
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p><strong>Kinh nghiệm tích lũy sau chương trình:</strong></p>
    <p>
        Chương trình học được thiết kế để sinh viên phát huy tư duy toán học và tư duy hệ thống, được
        cung cấp kiến thức, rèn luyện kỹ năng về ICT, giải mã, xây dựng các thuật toán, phần mềm và thực
        hành phòng thủ hoặc tấn công của tin tặc (hacker) trong môi trường số, đảm bảo hệ thống ICT hoạt
        động đúng chức năng, thông tin được lưu trữ, truyền tải an toàn.<br>
        Sinh viên ngành An toàn thông tin được trang bị các kiến thức cơ bản của nhóm ngành máy tính và
        CNTT, cũng như những kiến thức cốt lõi, chuyên sâu về an toàn thông tin.<br>
        Sinh viên có khả năng đánh giá những rủi ro đối với sự an toàn của thông tin thuộc quyền sở hữu
        của một tổ chức và đưa ra các giải pháp phòng chống và khắc phục; cũng như hiểu được các yếu tố
        về con người, tổ chức, kỹ thuật và chính sách liên quan đến an toàn thông tin. Sinh viên đồng
        thời được cung cấp một nền tảng vững chắc về ngoại ngữ, khoa học, văn hóa, xã hội, phát huy tính
        chủ động, sáng tạo trong học tập, công việc và cuộc sống.
    </p>
    <p><strong>Tốt nghiệp: </strong></p>
    <p>
        Sinh viên tích lũy đủ số tín chỉ và chứng chỉ theo yêu cầu. Nhà trường tổ chức 3 đợt tốt nghiệp
        vào các tháng 1, 5, 9 hàng năm.
    </p>
</div>
<footer class="entry-footer">
    <div class="footer-title">
        <h2 class="title">Đăng ký xét tuyển</h2>
    </div>
    <div class="register-type">
        <a class="register-button"
           href="https://daihoc.fpt.edu.vn/dang-ky-truc-tuyen/">Gửi hồ sơ trực tuyến</a>
    </div>
</footer>