
<body>
    <section class="page-header padding">
        <div class="container">
            <div class="page-content text-center">
                <h2>NGÀNH HỌC</h2>
                <p>Giới thiệu tổng quan về các ngành học</p>
            </div>
        </div>
    </section>
    <section class="projects-section padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="/img/project-1.jpg" alt="projects">
                        <div class="projects-content body-content">
                            <h3><a href="softwareTechnology" class="tittle">Kỹ thuật phần mềm</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="/img/project-2.jpg" alt="projects">
                        <div class="projects-content body-content">
                            <h3><a href="informationSecurity" class="tittle">An toàn thông tin</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="/img/project-3.jpg" alt="projects">
                        <div class="projects-content body-content ">
                            <h3><a href="finance" class="tittle">Tài chính</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="/img/project-4.jpg" alt="projects">
                        <div class="projects-content body-content ">
                            <h3><a href="HotelManagment" class="tittle">Quản trị khách sạn</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="/img/project-5.jpg" alt="projects">
                        <div class="projects-content body-content ">
                            <h3><a href="englishLanguage" class="tittle">Ngôn ngữ Anh</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="/img/project-6.jpg" alt="projects">
                        <div class="projects-content body-content ">
                            <h3><a href="japaneseLanguage" class="tittle">Ngôn ngữ Nhật</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>