<div class="entry-content">
    <div class="header-content">
        <h1>Học bổng</h1>
    </div>
    <p style="text-align: center;"><strong>CHƯƠNG TRÌNH HỌC BỔNG NGUYỄN VĂN ĐẠO NĂM 2021&nbsp;</strong></p>
    <p style="text-align: center;"><strong>CHO SINH VIÊN HỆ ĐẠI HỌC CHÍNH QUY TRƯỜNG ĐẠI HỌC FPT</strong></p>
    <p>
        Hằng năm, hàng trăm suất học bổng Nguyễn Văn Đạo được trao tặng cho tân sinh viên ở tất cả các ngành học của Đại
        học FPT nhằm khuyến khích và bồi dưỡng nhân tài, đồng thời để ghi nhớ&nbsp;những đóng góp của cố Giáo sư, Viện
        sĩ Nguyễn Văn Đạo cho sự nghiệp giáo dục, khoa học kỹ thuật của Việt Nam nói chung và sự phát triển của&nbsp;Đại
        học FPT&nbsp;nói riêng.
    </p>
    <p>
        Tất cả các thí sinh đều có thể nộp hồ sơ xét duyệt học bổng của Đại học FPT nếu đủ điều kiện. Học bổng xét duyệt
        dựa trên các tiêu chí cụ thể để nhận các mức học bổng theo quy định từng năm và ưu tiên đối với những thí sinh
        đủ điều kiện đồng thời hoàn thành thủ tục nhập học sớm tại Đại học FPT.
    </p>
    <p><strong>Thông tin chương trình cụ thể:</strong></p>
    <p><strong>1. Mục đích</strong></p>
    <p style="padding-left: 40px;">
        – Tìm kiếm, thu hút và bồi dưỡng nhân tài;<br>
        – Ghi nhớ những đóng góp của cố GS.VS Nguyễn Văn Đạo cho sự nghiệp giáo dục, khoa học kỹ thuật của Việt Nam nói
        chung và sự phát triển của Đại học FPT nói riêng.
    </p>
    <p><strong>2. Số lượng học bổng (dự kiến):&nbsp;</strong>820 suất.</p>
    <p><strong>3. Mức học bổng và tiêu chí cấp học bổng</strong></p>
    <p style="padding-left: 40px;"><strong><em>a. Cấp thẳng học bổng</em></strong></p>
    <p>
        Thí sinh đủ điều kiện trúng tuyển Đại học FPT được&nbsp;<strong>cấp học bổng&nbsp;</strong>của Đại học FPT nếu
        đáp ứng một trong những điều kiện sau:
    </p>
    <table class=" aligncenter" width="75%">
        <thead>
            <tr>
                <td width="283"><strong>Mức học bổng</strong></td>
                <td width="331"><strong>Tiêu chí</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="283">100%+ (học phí và sinh hoạt phí)</td>
                <td width="331">
                    Thoả mãn một trong các tiêu chí:<p></p>
                    <ul>
                        <li>Tham gia đội tuyển trong các kỳ thi quốc tế IMO, IOI.</li>
                        <li>
                            Đạt giải Nhất trong kỳ thi Học sinh giỏi quốc gia một trong các môn Toán, Vật lý, Hoá học,
                            Tin học.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td width="283">70%</td>
                <td width="331">
                    Đạt giải Nhì trong kỳ thi Học sinh giỏi quốc gia một trong các môn Toán, Vật lý, Hoá
                    học, Tin học.
                </td>
            </tr>
            <tr>
                <td width="283">50%</td>
                <td width="331">
                    Thoả mãn một trong các tiêu chí:<p></p>
                    <ul>
                        <li>Đạt giải Ba trong kỳ thi Học sinh giỏi quốc gia các môn Toán, Vật lý, Hoá học, Tin học;</li>
                        <li>
                            Đạt giải Nhất, Nhì, Ba cấp quốc gia các bộ môn năng khiếu về văn nghệ, thể thao, nghệ thuật,
                            sắc đẹp (Phụ lục) hoặc các cuộc thi khác được phê duyệt bởi Hội đồng tuyển sinh trường Đại
                            học FPT.
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p><strong><em><u>Lưu ý:</u></em></strong></p>
    <p>– Chỉ áp dụng với cuộc thi được tổ chức gần nhất hoặc cách thời gian nhập học không quá 3 năm.</p>
    <p>– Các trường hợp đặc biệt sẽ do Chủ tịch Hội đồng tuyển sinh Trường Đại học FPT phê duyệt.</p>
    <p style="padding-left: 40px;"><strong><em>b. Thi giành học bổng</em></strong></p>
    <p>
        Thí sinh đủ điều kiện xét tuyển Đại học FPT, tốt nghiệp THPT năm 2021, chưa từng đạt học bổng trong các kì thi
        học bổng của Đại học FPT và đạt một trong các tiêu chí sau sẽ đủ điều kiện tham gia kỳ thi học bổng của Đại học
        FPT để nhận các mức học bổng 10% – 100% (học phí toàn khoá học):
    </p>
    <p>
        – Có tên trong danh sách đội tuyển thi Học sinh giỏi Quốc Gia (các môn: Toán, Vật lý, Hóa học, Tin học, Tiếng
        Anh);
    </p>
    <p>
        – Xếp hạng học bạ THPT 2021 đạt Top30 THPT 2021 (chứng nhận thực hiện trên trang&nbsp;<a href="http://schoolrank.fpt.edu.vn/">http://SchoolRank.fpt.edu.vn</a>)
    </p>
    <p>– Điểm GPA từ mức A (hoặc tương đương) trở lên (đối với các thí sinh tốt nghiệp THPT ở nước ngoài)</p>
    <p><strong>4. Lịch trình thi học bổng, xét cấp học bổng</strong></p>
    <p>– Lịch trình thi học bổng: dự kiến có 2 đợt: Đợt 1 vào 16/05/2021, đợt 2 vào 25/07/2021</p>
    <p>
        – Lịch trình xét cấp học bổng: dự kiến có 2 đợt. Đợt 1 vào 16/05/2021 (Nhà trường sẽ ưu tiên cho những hồ sơ đăng
        ký sớm cho tới khi hết học bổng).
    </p>
    <p><strong>5. Hồ sơ đăng ký tham gia chương trình học bổng Nguyễn Văn Đạo</strong></p>
    <p>
        –&nbsp;<a href="https://daihoc.fpt.edu.vn/media/2021/02/Phieu-dang-ky-hoc-bong-DH-FPT-2021.pdf" target="_blank"
                  rel="noopener noreferrer">Phiếu đăng ký học bổng Đại học FPT</a>;
    </p>
    <p>– 01 Bản photo hoặc bản scan CMND;</p>
    <p>– 01 Ảnh 3×4 hoặc bản scan ảnh 3×4;</p>
    <p>– Lệ phí thi học bổng 200,000 VNĐ;</p>
    <p>
        – 01 Bản photo/scan Học bạ THPT (đối với hồ sơ xét tuyển theo kết quả Học bạ THPT) hoặc 01 bản gốc Giấy chứng
        nhận kết quả kỳ thi THPT 2021 (đối với hồ sơ xét tuyển theo kết quả thi THPT 2021);
    </p>
    <p>
        – 01 Giấy Chứng Nhận xếp hạng học sinh THPT năm 2021 thực hiện trên trang&nbsp;<a href="http://schoolrank.fpt.edu.vn/" target="_blank"
                                                                                                rel="noopener noreferrer">http://SchoolRank.fpt.edu.vn</a>;
    </p>
    <p>– Bản photo các giấy tờ xác nhận thành tích (Bản chính sẽ nộp trong hồ sơ nhập học).</p>
    <p><strong>6. Hồ sơ nhập học chương trình học bổng Nguyễn Văn Đạo</strong></p>
    <p>–&nbsp;Phiếu nhập học (theo quy định của Trường ĐH FPT);</p>
    <p>– Phí đăng ký nhập học và Học phí theo Quy định tài chính sinh viên Trường ĐH FPT hiện hành;</p>
    <p>
        – 01 Bản sao chứng thực Bằng tốt nghiệp THPT (hoặc Giấy chứng nhận tốt nghiệp THPT tạm thời và bổ sung sau khi có
        Bằng);
    </p>
    <p>– 01 Bản sao chứng thực Học bạ THPT;</p>
    <p>– 01 Bản sao chứng thực CMND;</p>
    <p>– 01 Ảnh 3×4;</p>
    <p>– 01 Bản sao chứng thực Giấy khai sinh;</p>
    <p>– 01 Bản sao chứng thực CMND của bố hoặc mẹ;</p>
    <p>– 01 Bản sao chứng thực Sổ hộ khẩu;</p>
    <p>
        – 01 Bản sao chứng thực Chứng chỉ tiếng Anh TOEFL iBT từ 80 hoặc IELTS (Học thuật) từ 6.0 hoặc quy đổi tương
        đương (nếu có);
    </p>
    <p>– 01 Bản sao chứng thực Chứng chỉ tiếng Nhật JLPT từ N3 trở lên (nếu có);</p>
    <p>– 01 Bản sao chứng thực Chứng chỉ tiếng Hàn TOPIK cấp độ 4 trong kỳ thi TOPIK II (nếu có);</p>
    <p>– 01 Bản sao chứng thực Bằng tốt nghiệp đại học (nếu có);</p>
    <p>
        – 01 Bản sao chứng thực Bằng tốt nghiệp một trong các chương trình sau: Chương trình APTECH HDSE; Chương trình
        ARENA ADIM; Chương trình BTEC HND; Chương trình học trực tuyến CNTT – FUNiX (nếu có);
    </p>
    <p>
        – 01 Bản sao chứng thực Giấy chứng nhận sinh viên và 01 Bản sao chứng thực bảng điểm các môn đã học của các
        trường đại học thuộc Top1000 trong 3 bảng xếp hạng gần nhất: QS, ARWU và THE hoặc các trường đạt chứng nhận QS
        Star 5 sao về chất lượng đào tạo (nếu có);
    </p>
    <p>– Các bản sao chứng thực các giấy tờ xác nhận thành tích;</p>
    <p>
        – 01 Giấy Chứng Nhận xếp hạng học sinh THPT năm 2021 thực hiện trên trang&nbsp;<a href="http://schoolrank.fpt.edu.vn/">http://SchoolRank.fpt.edu.vn</a>;
    </p>
    <p><strong>7. Các quy định khác</strong></p>
    <p>
        Thực hiện theo quy định tài chính học bổng, tín dụng đối với sinh viên hệ đại học chính quy Trường Đại học FPT
        hiện hành:
    </p>
    <p>
        a. Nhà trường sẽ ưu tiên cấp học bổng cho thí sinh hoàn thành hồ sơ nhập học sớm cho đến khi hết chỉ tiêu học
        bổng năm 2021;<br>
        b. Học bổng Nguyễn Văn Đạo là học bổng đích danh và không có giá trị chuyển đổi cho người khác cũng như chuyển
        đổi thành tiền mặt;<br>
        c. Học bổng Nguyễn Văn Đạo là độc lập và không áp dụng cùng với bất cứ một hình thức ưu đãi nào khác của Trường
        Đại học FPT;<br>
        d. Đối với học bổng mức 100%+ (học phí và sinh hoạt phí): Sinh hoạt phí là chi phí ăn ở, chỉ được hỗ trợ trong
        thời gian thực học theo chương trình (bao gồm học phí chương trình tiếng Anh dự bị), không áp dụng cho các giai
        đoạn tạm ngưng học vì bất cứ lý do gì.
    </p>
    <p style="text-align: center;"><b>PHỤ LỤC : DANH MỤC CÁC CUỘC THI NĂNG KHIẾU</b></p>
    <table class=" aligncenter" style="width: 75%;">
        <tbody>
            <tr>
                <td style="width: 5.758157389635316%;" width="35"><strong>STT</strong></td>
                <td style="width: 70.44145873320537%;" width="354"><strong>TÊN CUỘC THI</strong></td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">1</td>
                <td style="width: 70.44145873320537%;" width="354">Cuộc thi Khoa học kỹ thuật cấp quốc gia</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">2</td>
                <td style="width: 70.44145873320537%;" width="354">Giải vô địch thể hình quốc gia</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">3</td>
                <td style="width: 70.44145873320537%;" width="354">Hội Khỏe Phù Đổng toàn quốc</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">4</td>
                <td style="width: 70.44145873320537%;" width="354">
                    Giải Thể thao Sinh viên Việt Nam (Vietnam University
                    Games -VUG)
                </td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">5</td>
                <td style="width: 70.44145873320537%;" width="354">
                    Giải Vô địch khiêu vũ thể thao quốc gia và Cúp khiêu
                    vũ thể thao mở rộng toàn quốc
                </td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">6</td>
                <td style="width: 70.44145873320537%;" width="354">Sasuke Việt Nam</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">7</td>
                <td style="width: 70.44145873320537%;" width="354">Giải vô địch điền kinh quốc gia</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">8</td>
                <td style="width: 70.44145873320537%;" width="354">Giải bóng chuyền vô địch quốc gia</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">9</td>
                <td style="width: 70.44145873320537%;" width="354">
                    Giải bóng đá trong nhà cúp quốc gia (Vietnamese
                    National Futsal Cup)
                </td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">10</td>
                <td style="width: 70.44145873320537%;" width="354">Giải bóng đá sinh viên toàn quốc</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">11</td>
                <td style="width: 70.44145873320537%;" width="354">Giải vô địch bóng bàn toàn quốc Báo Nhân Dân</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">12</td>
                <td style="width: 70.44145873320537%;" width="354">Giải Cúp Vô địch Võ cổ truyền toàn quốc</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">13</td>
                <td style="width: 70.44145873320537%;" width="354">Giải Vô địch trẻ Karatedo toàn quốc</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">14</td>
                <td style="width: 70.44145873320537%;" width="354">
                    Giải vô địch Taekwondo các lứa tuổi trẻ toàn quốc
                </td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">15</td>
                <td style="width: 70.44145873320537%;" width="354">Giọng Hát Việt (The Voice)</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">16</td>
                <td style="width: 70.44145873320537%;" width="354">Cuộc thi Hoa hậu Việt Nam (Miss Vietnam)</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">17</td>
                <td style="width: 70.44145873320537%;" width="354">
                    Cuộc thi Hoa hậu Hoàn Vũ Việt Nam (Miss Universe
                    Vietnam)
                </td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">18</td>
                <td style="width: 70.44145873320537%;" width="354">Vietnam’s Next Top Model</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">19</td>
                <td style="width: 70.44145873320537%;" width="354">Cuộc thi Nữ hoàng trang sức Việt Nam</td>
            </tr>
            <tr>
                <td style="width: 5.758157389635316%;" width="35">20</td>
                <td style="width: 70.44145873320537%;" width="354">
                    Cuộc thi Hoa hậu Đại dương Việt Nam (Miss Ocean
                    Vietnam)
                </td>
            </tr>
        </tbody>
    </table>
    <p style="text-align: center;"><em>(Danh sách trên bao gồm <strong>20</strong> cuộc thi)</em></p>
</div>