
@{
    ViewData["Title"] = "Software Technology";
}
 
    <div class="entry-content">
        <div class="header-content">
            <h1> Kỹ thuật phần mềm</h1>
        </div>
        <p><strong>Tổng quan về chuyên ngành Kỹ thuật phần mềm thuộc ngành Công nghệ thông tin:</strong></p>
        <p style="text-align: justify;">
            Tại Đại học FPT, Kỹ thuật phần mềm là chuyên ngành học có tiếng và
            lâu đời nhất. Hiện tại, sinh viên Đại học FPT đã và đang làm việc, học tập tại các quốc gia như
            Mỹ, Đức, Nhật Bản, Singapore – những thị trường CNTT quan trọng của thế giới. Đây là kết quả của
            chương trình đào tạo chuẩn quốc tế, chú trọng đào tạo ngoại ngữ, phát triển kỹ năng mềm cùng
            định hướng đầu ra đáp ứng nhu cầu doanh nghiệp.
        </p>
        <p style="text-align: justify;">
            Chương trình được thiết kế theo chuẩn của Hiệp hội Máy tính
            (Association for Computing Machinery-ACM), chuẩn đào tạo kỹ sư phần mềm của Accreditation Board
            for Engineering and Technology (ABET – Mỹ), Hiệp hội Phần mềm Việt Nam (VINASA), Chương trình
            Đào tạo của EC-Council, Học viện Mạng và Phần cứng Jetking (Ấn Độ); với sự tư vấn của các chuyên
            gia và doanh nghiệp CNTT như Tập đoàn FPT, Tập đoàn IBM, đồng thời tích hợp các chuẩn kiến thức
            của giới công nghiệp như Oracle, Cisco… Nội dung đào tạo chuyên ngành Kỹ thuật phần mềm của Đại
            học FPT tích hợp cân bằng giữa kiến thức nền tảng với công nghệ, kỹ thuật mới: không chỉ bao gồm
            các kiến thức về khoa học cơ bản của nhóm ngành CNTT mà còn đào tạo đầy đủ về quy trình phát
            triển phần mềm, từ phương pháp, kỹ thuật, công nghệ trong phân tích, thiết kế, phát triển, kiểm
            thử, bảo trì phần mềm và quản lý dự án phần mềm cũng như các ứng dụng CNTT; cân bằng giữa lý
            thuyết với ứng dụng và thực hành: thời gian học lý thuyết chiếm chỉ tối đa một nửa thời gian của
            hầu hết các môn học.
        </p>
        <p><strong>Địa&nbsp;điểm học</strong>: Hà Nội, Đà Nẵng, TP.Hồ Chí Minh, Cần Thơ</p>
        <p style="text-align: justify;"><strong>Triển vọng nghề nghiệp:</strong></p>
        <p>
            Sinh viên tốt nghiệp chuyên ngành phần mềm có thể lựa chọn cho mình những công việc thú vị như:
        </p>
        <ul>
            <li>Lập trình viên phát triển ứng dụng</li>
            <li>Kỹ sư cầu nối</li>
            <li>Chuyên viên phân tích nghiệp vụ</li>
            <li>Kỹ sư đảm bảo chất lượng phần mềm</li>
            <li>Kỹ sư quy trình sản xuất phần mềm</li>
            <li>Quản trị viên dự án phần mềm và CNTT</li>
            <li>Giám đốc kỹ thuật</li>
            <li>Chuyên viên phát triển ứng dụng AI về xử lý hình ảnh, âm thanh</li>
        </ul>
        <p><strong>Kinh nghiệm tích lũy sau chương trình:</strong></p>
        <p style="text-align: justify;">
            Sinh viên sẽ được đào tạo các môn khoa học cơ bản của nhóm ngành
            CNTT, đào tạo chuyên sâu về quy trình, phương pháp, kỹ thuật, công nghệ trong phân tích, thiết
            kế, phát triển, kiểm thử, bảo trì phần mềm và quản lý dự án phần mềm cũng như trong lĩnh vực ứng
            dụng CNTT. Đồng thời, trong giai đoạn học chuyên sâu, sinh viên có thể lựa chọn các đề tài hẹp
            để theo học và làm đồ án tốt nghiệp như: Phần mềm nhúng; Phần mềm quản lý doanh nghiệp; Phần mềm
            cho các hệ thống di động; Hệ thống mạng và phân tán; Hệ thống tài chính và thương mại điện tử…
            theo xu hướng SMAC hiện nay của thế giới (SMAC: viết tắt của Social – Mạng xã hội, Mobility – Di
            động, Analytics – Phân tích dữ liệu, Cloud – Điện toán đám mây).
        </p>
        <p><strong>Chương trình đào tạo:</strong></p>
        <table style="width: 98.81656804733727%; border-color: #000000;" border="1">
            <tbody>
                <tr>
                    <td style="width: 11.370159090103817%;"><strong>Học Kỳ</strong></td>
                    <td style="width: 36.440491797470145%;"><strong>Học Phần</strong></td>
                    <td style="width: 51.005917159763314%;"><strong>Kỹ năng đạt được&nbsp;</strong></td>
                </tr>
                <tr>
                    <td style="width: 11.370159090103817%;">Nền tảng</td>
                    <td style="width: 36.440491797470145%;" data-title="học phần">
                        <ul>
                            <li>Tuần lễ định hướng</li>
                            <li>Tháng rèn luyện tập trung</li>
                            <li>Tiếng Anh nền tảng từ Top Notch 1 đến Summit 1</li>
                            <li>Học kỳ tiếng Anh Summit 2 tại nước ngoài</li>
                            <li>Võ Vovinam</li>
                            <li>Lập trình với Alice</li>
                        </ul>
                    </td>
                    <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                        <ul>
                            <li>
                                Sinh viên có phương pháp học đại học hiệu quả như: tự học, làm việc nhóm,
                                quản lý thời gian, tối ưu hoá năng lực não bộ cải thiện kết quả học tập.
                            </li>
                            <li>
                                Sinh viên đạt trình độ tiếng Anh tương đương IELTS 6.0 hoặc TOEFL iBT 80.
                            </li>
                            <li>
                                Sinh viên tự tin đọc hiểu giáo trình, học tập hoàn toàn bằng tiếng Anh, giao
                                tiếp thông thạo với giảng viên và sinh viên quốc tế.
                            </li>
                            <li>
                                Sinh viên có tinh thần rèn luyện thể chất, phát triển cá nhân toàn diện.
                            </li>
                            <li>Sinh viên được trang bị tư duy về lập trình một cách trực quan.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 11.370159090103817%;">Học kỳ 1</td>
                    <td style="width: 36.440491797470145%;" data-title="học phần">
                        <ul>
                            <li>Nhập môn tính toán</li>
                            <li>Toán cho ngành kỹ thuật</li>
                            <li>Cơ sở lập trình (với C)</li>
                            <li>Tổ chức và kiến trúc máy tính</li>
                        </ul>
                    </td>
                    <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                        &nbsp;<p></p>
                        <ul>
                            <li>
                                Sinh viên làm quen với ngôn ngữ C, lập trình những chương trình cơ bản đến
                                phức tạp.
                            </li>
                            <li>
                                Sinh viên hiểu <span style="font-family: inherit; font-size: inherit;">
                                    về
                                    kiến &ZeroWidthSpace;&ZeroWidthSpace;trúc và tổ chức máy tính
                                </span>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 11.370159090103817%;">Học kỳ 2</td>
                    <td style="width: 36.440491797470145%;" data-title="học phần">
                        <ul>
                            <li>Kỹ năng làm việc nhóm</li>
                            <li>Thiết kế Web</li>
                            <li>Lập trình hướng đối tượng (với Java)</li>
                            <li>Các hệ cơ sở dữ liệu</li>
                            <li>Toán rời rạc</li>
                            <li>Thực hành C</li>
                        </ul>
                    </td>
                    <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                        <ul>
                            <li>
                                Làm việc nhóm: Sinh viên học cách làm việc nhóm hiệu quả, phát triển nhóm,
                                thành viên nhóm, đa dạng nhóm, lãnh đạo nhóm, động lực nhóm, mâu thuẫn và
                                gắn kết trong các nhóm, lập kế hoạch và tổ chức các cuộc họp và công nghệ và
                                các nhóm ảo.
                            </li>
                            <li>Sinh viên có khả năng thiết kế giao diện của một website.</li>
                            <li>
                                Sinh viên có kiến thức về lập trình hướng đối tượng và giao tiếp cơ bản với
                                ngôn ngữ Java.
                            </li>
                            <li>
                                Sinh viên học cách giao tiếp cơ bản với hệ cơ sở dữ liệu, thiết kế Database.
                            </li>
                            <li>Sinh viên thực hành lập trình ngôn ngữ C.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 11.370159090103817%;">Học kỳ 3</td>
                    <td style="width: 36.440491797470145%;" data-title="học phần">
                        <ul>
                            <li>Tiếng Nhật sơ cấp 1 – Định hướng công nghiệp</li>
                            <li>Hệ điều hành</li>
                            <li>Cấu trúc dữ liệu và giải thuật</li>
                            <li>Phát triển ứng dụng Java Desktop</li>
                            <li>Thực hành OOP với Java</li>
                        </ul>
                    </td>
                    <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                        <ul>
                            <li>
                                Sinh viên sử dụng Tiếng Nhật ở mức độ căn bản: đọc, viết, giao tiếp ở môi
                                trường làm việc.
                            </li>
                            <li>
                                Sinh viên nắm vững quy trình phát triển phần mềm, bao gồm các quy trình sử
                                dụng trong ngành công nghệ phần mềm: Water Fall, Spiral, Interative
                                Development, Agile.
                            </li>
                            <li>Sinh viên sử dụng thông thạo ngôn ngữ thiết kế phần mền UML.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 11.370159090103817%;">Học kỳ 4</td>
                    <td style="width: 36.440491797470145%;" data-title="học phần">
                        <ul>
                            <li>Tiếng Nhật sơ cấp 2 – Định hướng công nghiệp</li>
                            <li>Nhập môn Kỹ thuật Phần mềm</li>
                            <li>Mạng máy tính</li>
                            <li>Phát triển ứng dụng Java Web</li>
                            <li>Thực hành Desktop Java</li>
                        </ul>
                    </td>
                    <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                        <ul>
                            <li>
                                Sinh viên sử dụng Tiếng Nhật ở mức độ căn bản: đọc, viết, giao tiếp ở môi
                                trường làm việc.
                            </li>
                            <li>
                                Sinh viên nắm vững quy trình phát triển phần mềm, bao gồm các quy trình sử
                                dụng trong ngành công nghệ phần mềm: Water Fall, Spiral, Interative
                                Development, Agile.
                            </li>
                            <li>Sinh viên sử dụng thông thạo ngôn ngữ thiết kế phần mền UML.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 11.370159090103817%;">Học kỳ 5</td>
                    <td style="width: 36.440491797470145%;" data-title="học phần">
                        <ul>
                            <li>Tiếng Nhật sơ cấp 3 – Định hướng công nghiệp</li>
                            <li>C# và .NET</li>
                            <li>Đảm bảo chất lượng và kiểm thử phần mềm</li>
                            <li>Yêu cầu phần mềm</li>
                            <li>Thực hành Java Web</li>
                        </ul>
                    </td>
                    <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                        <ul>
                            <li>
                                Sinh viên được cung cấp những kiến thức tiếng Nhật ở mức độ Sơ cấp, đồng
                                thời có thêm nhiều từ vựng, nhiều chữ Hán và nhiều mẫu câu để có thể đọc,
                                viết những câu tương đối dài và phức tạp.
                            </li>
                            <li>
                                Sinh viên nắm vững các công nghệ lập trình chuyên nghiệp trên nền tảng
                                Microsoft .NET: C#, ASP.NET, ASP .NET trên nền IIS, kết nối CSDL theo mô
                                hình ADO .NET.
                            </li>
                            <li>
                                Sinh viên nắm vững các kỹ thuật trong kiểm thử phần mềm: UnitTest, BlackBox,
                                WhiteBox, Equivalent, Boundary. Tham gia chứng chỉ kiểm thử phần mềm ISTQB.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 11.370159090103817%;">Học kỳ 6</td>
                    <td style="width: 36.440491797470145%;" data-title="học phần">
                        <ul>
                            <li>Đào tạo trong doanh nghiệp 1</li>
                            <li>Khởi sự doanh nghiệp</li>
                        </ul>
                    </td>
                    <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                        <ul>
                            <li>
                                Sinh viên làm việc trong các dự án thực tế trong nước và quốc tế tại FPT
                                Software hoặc các công ty phần mềm trong và ngoài nước là đối tác của Đại
                                học FPT từ 4 – 8 tháng.
                            </li>
                            <li>
                                Sinh viên xác định các mô hình, các mẫu phù hợp, sự phối hợp giữa các mô
                                hình nhằm tương thích với nội dung mục đích và yêu cầu của người sử dụng về
                                phần mềm.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 11.370159090103817%;">Học kỳ 7</td>
                    <td style="width: 36.440491797470145%;" data-title="học phần">
                        <ul>
                            <li>Kiến trúc và thiết kế phần mềm</li>
                            <li>Lập trình di động</li>
                            <li>Thiết kế cách giao tiếp giữa người và máy tính (IS, ES)</li>
                            <li>Tiếng Nhật sơ cấp 4</li>
                            <li>CNTT cơ bản theo chuẩn Nhật Bản</li>
                        </ul>
                    </td>
                    <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                        <ul>
                            <li>
                                Xây dựng ứng dụng trên các thiết bị di động và kết nối với các thiết bị
                                ngoại vi, các dịch vụ từ bên ngoài và có khả năng chạy trên nhiều nền tảng
                                khác nhau từ iOS, Android đến Blackberry.
                            </li>
                            <li>
                                Sinh viên tìm hiểu tâm lý của người dùng, hành vi hằng ngày của người dùng
                                trên quy trình công việc mà họ thực hiện để từ đó tạo ra các giao diện mà
                                người dùng sử dụng như theo thói quen và cách nghĩ hiện tại để họ có thể
                                tiếp cận, sử dụng phần mềm một cách nhanh chóng mà không cần học tập phức
                                tạp.
                            </li>
                            <li>Sinh viên sẽ đạt trình độ tiếng Nhật tương đương N4.</li>
                            <li>
                                Sinh viên có kiến thức của một Kỹ sư Phần mềm làm việc trong môi trường của
                                Nhật Bản.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 11.370159090103817%;">Học kỳ 8</td>
                    <td style="width: 36.440491797470145%;" data-title="học phần">
                        <ul>
                            <li>Quản trị dự án công nghệ thông tin</li>
                            <li>Xác suất thống kê</li>
                            <li>Tiếng Nhật trung cấp 1</li>
                            <li>Kỹ năng giao tiếp</li>
                        </ul>
                    </td>
                    <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                        <ul>
                            <li>
                                Sinh viên có kiến thức của vai trò Quản lý dự án như: Lập kế hoạch, dự đoán
                                các rủi ro, điều phối nhân lực và chia công việc. Ngoài ra, các kiến thức về
                                quản lý nhân sự, phối hợp nhân viên, xử lý xung đột sẽ được cung cấp để nâng
                                cao kinh nghiệm cho việc quản lý.
                            </li>
                            <li>
                                Sinh viên được cung cấp những kiến thức nâng cao về tiếng Nhật – tiếng Nhật
                                Trung cấp. Có khả năng đọc, viết, giao tiếp câu văn dài, phức tạp, trang
                                trọng.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 11.370159090103817%;">Học kỳ 9</td>
                    <td style="width: 36.440491797470145%;" data-title="học phần">
                        <ul>
                            <li>Đạo đức trong CNTT</li>
                            <li>Tiếng Nhật trung cấp 2</li>
                            <li>Tiếng Nhật trong CNTT</li>
                            <li>Khoá luận tốt nghiệp</li>
                        </ul>
                    </td>
                    <td style="width: 51.005917159763314%;" data-title="kỹ năng đạt được">
                        <ul>
                            <li>Sinh viên thực hiện và sở hữu đồ án/ứng dụng của riêng mình.</li>
                            <li>
                                Sinh viên tự tin làm việc tại hầu hết các cường quốc CNTT trên thế giới.
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><strong>Tốt nghiệp: </strong></p>
        <p>
            Sinh viên tích lũy đủ số tín chỉ và chứng chỉ theo yêu cầu. Nhà trường tổ chức 3 đợt tốt nghiệp
            vào các tháng 1, 5, 9 hàng năm.
        </p>
        <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_6">

        </div>
    </div>
   <footer class="entry-footer">
      <div class="footer-title">
        <h2 class="title">Đăng ký xét tuyển</h2>
       </div>                                     
       <div class="register-type" >
          <a class="register-button"
           href="https://daihoc.fpt.edu.vn/dang-ky-truc-tuyen/">Gửi hồ sơ trực tuyến</a>
       </div>                  
    </footer>
